{% load wagtailcore_tags %}

<li class="footer-section footer-section--links">
	<h4 class="footer-section__title">
		Helpful links
	</h4>

	<a href="{% slugurl 'ask-a-librarian' %}" title="Ask a librarian for assistance" class="footer-section__link button">
		Ask a Question
	</a>

	<a href="https://www.cca.edu" title="View the main CCA website" class="footer-section__link">
		CCA.edu
	</a>

	<a href="https://vault.cca.edu" title="View VAULT, CCA's digital archive" class="footer-section__link">
		VAULT
	</a>

	<a href="https://moodle.cca.edu" title="Moodle is CCA's learning management system" class="footer-section__link">
		Moodle
	</a>

	<a href="https://portal.cca.edu" title="Find people, classes, & more in the Portal" class="footer-section__link">
		Portal
	</a>
</li>
