<li class="footer-section footer-section--info">
	<h4 class="footer-section__title">
		Connect with us
	</h4>
	<div class="footer-section__links">
		<a
			href="https://www.facebook.com/ccalibrary"
			title="Like us on Facebook"
			class="footer-section__social-link icon-only facebook"
		>facebook.com/ccalibrary</a>
		<a
			href="https://www.instagram.com/ccalibraries/"
			title="View our Instagram"
			class="footer-section__social-link icon-only instagram"
		>CCA Libraries</a>
		<a
			href="https://twitter.com/ccalibraries"
			title="Follow us on Twitter"
			class="footer-section__social-link icon-only twitter"
		>@CCALibraries</a>
		<a
			class="footer-section__social-link news"
			href="/news"
			title="CCA Libraries' news"
		>Libraries' news</a>
		<a
			class="footer-section__social-link newsletter"
			href="/news"
			title="CCA Libraries' news"
		>Check out our newsletter</a>
		<a
			class="footer-section__social-link koha button"
			href="/news"
			title="CCA Libraries' news"
		>Sign into your library account</a>

	</div>
</li>
