<li class="footer-section">
	<h4 class="footer-section__title">
		Locations
	</h4>

	<ul class="footer-section__sites">
		<li class="footer-section__site">
			<h5 class="footer-section__site-name">
				Meyer Library
			</h5>
			<p class="footer-section__site-address">
				Oakland
			</p>
			<p class="footer-section__site-address">
				5212 Broadway
			</p>
			<p class="footer-section__site-address">
				<a href="tel:15105943658">510.594.3658</a>
			</p>
		</li>
		<li class="footer-section__site">
			<h5 class="footer-section__site-name">
				Simpson Library
			</h5>
			<p class="footer-section__site-address">
				San Francisco
			</p>
			<p class="footer-section__site-address">
				1111 8th St
			</p>
			<p class="footer-section__site-address">
				<a href="tel:14157039574">415.703.9574</a>
			</p>
		</li>
	</ul>
</li>
