<li class="footer-section footer-section--links">
	<h4 class="footer-section__title">
		Helpful links
	</h4>

	<a
		href="/blog"
		title="View our blog"
		class="footer-section__link"
	>
		Blog
	</a>
	<a
		href="#"
		title="Quick brown fox"
		class="footer-section__link"
	>
		Quick brown fox
	</a>
	<a
		href="#"
		title="Asking about something"
		class="footer-section__link"
	>
		Asking about something
	</a>
	<a
		href="#"
		title="Another footer link"
		class="footer-section__link"
	>
		Another footer link
	</a>
	<a
		href="#"
		title="Last one here"
		class="footer-section__link"
	>
		Last one here
	</a>
</li>
