{# google analytics tracking code, only active on production #}
{% if not request.is_preview and request.META.HTTP_HOST == "libraries.cca.edu" %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-24BVLMMGFM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-24BVLMMGFM', { anonymize_ip: true, forceSSL: true });
</script>
{% else %}
{# for non-production sites, just log what would have been recorded #}
<script>
function ga() {
    console.log('google analytics:', arguments)
}
</script>
{% endif %}
