@use '../../settings/breakpoints';
@use '../../settings/colors';
@use '../../utilities/respond';

// ===========================================
// The search results wrapping ul
// ===========================================

.search-list {
    border-top: 1px solid colors.black(.1);
    padding: 20px 0;

    @include respond.respond(breakpoints.$break-medium) {
        border-top: 0;
        // offset absolutly positioned
        // .search-box__number-results
        padding-top: 60px;
    }
}
