@use '../../settings/breakpoints';
@use '../../settings/colors';
@use '../../utilities/respond';

// ==========================================
// Search page search box. This component
// wraps the search-box component to
// apply specific styles for the search page
// ==========================================

.search-page-search-box {
    background: colors.$grey;
    display: none;

    @include respond.respond(breakpoints.$break-medium) {
        display: block;
    }

    // Search page specific overrides
    .search-box {
        background: transparent;
        border: 0;
        padding: 30px 0;
    }

    .search-box__title {
        display: none;
    }

    // Position the results below the display of the form
    .search-box__number-results {
        bottom: -34px;
        position: absolute;
    }

    .search-input {
        max-width: 500px;
    }
}
