@use '../../bootstrap/variables';
@use '../../settings/colors';

// ========================================
// "Product grid" (grid of gray cards with thumbnails) block
// copied from Portal https://github.com/cca/portal/blob/master/portal/static/styles/portal/sass/partials/components/_blocks.scss
// ========================================

.product-grid-block {
    display: flex;
    flex-flow: row wrap;

    &__item {
        height: 100%;
        padding: 10px;

        @media (min-width: variables.$screen-xs-min) {
            padding: 10px 7px;
        }
    }

    &__content {
        background-color: colors.$ccaVeryLightGray;
        height: 325px;
        overflow: hidden;
        padding: 20px;
        width: 275px;

        @media (min-width: variables.$screen-xs-min) {
            padding: 20px 10px;
            width: 216px;
        }
    }

    &__content:hover .product-grid-block__caption,
    &__content:hover .product-grid-block__title {
        text-decoration: underline;
    }

    &__no-link-item {
        background-color: colors.$white;
    }

    &__img {
        margin: 0 auto;
        max-width: 150px;

        img {
            height: auto;
            width: 100%;
        }
    }

    &__text {
        height: 117px;
        hyphens: auto;
        margin: 16px auto 0;
        overflow: hidden;
        text-align: center;
        width: 230px;

        @media (min-width: variables.$screen-xs-min) {
            margin-top: 16px;
            width: 190px;
        }
    }

    &__title {
        color: colors.$ccaBlue;
        font-size: 18px;
        margin-bottom: 8px;
        word-break: keep-all;
    }

    &__caption {
        color: colors.$black;
        display: block;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis; // number of lines to show, fallback
    }
}
