// ===================================
// Responsive breakpoints
// ===================================

// If you change these 3 breakpoint values
// please also change them in the src/js/main.js file
$break-small: 460px;
$break-medium: 640px;
$break-large: 1000px;

$site-max-width: 1200px;
$site-max-width-search: 800px;
