// Project color mixins
// These allow for easy alpha manipulation

@function black($opacity: 1) {
    @return rgba(7, 7, 7, $opacity);
}

@function white($opacity: 1) {
    @return rgba(255, 255, 255, $opacity);
}

@function purple($opacity: 1) {
    @return rgba(114, 30, 160, $opacity);
}

// Main project colors
$black: black();
$white: white();

$grey: rgba(245, 245, 245, 1);
$blue: rgba(0, 118, 160, 1);
$purple: purple();
$green: rgba(183, 191, 16, 1);
$turquoise: rgba(23, 191, 179, 1);

// component colors
$btn-hover-light-gray: rgb(35, 35, 35);
$info-box-link-blue: #14c4ff;

// these are copied from Portal & used to recreate its "cards" feature
// see portal/static/styles/portal/sass/partials/_variables.scss
// Colors from CCA Marketing & Communications Styleguide
// (prefixed with `cca` not to conflict with Bootstrap colors)

// Primary Colors
$ccaTeal: #00bfb3;

// Secondary Colors
$ccaCoolGray: #888b8d;
$ccaWarmGray: #6e6259;
$ccaBeige: #dfd1a7;

// Supporting Accent Colors
$ccaRed: #cf4520;
$ccaBlue: #007096;
$ccaOldBlue: #005776;
$ccaPurple: #563d82;
$ccaPink: #f1bdc8;
$ccaGreen: #98bf10;
$ccaYellow: #ffc845;
$ccaOrange: #e57200;

// New Brand Colors
$ccaNewPink: #ff585d;
$ccaNewGreen: #228848;

// Modified Colors for Portal:
$ccaLightGray: #a7aab0;
$ccaVeryLightGray: #edeeee;
$ccaLightBeige: #fdfaf3;
$ccaVeryDarkGray: #222;
$ccaMedGray: #ccc;
