@use 'colors';

// ===================================
// Component sepcific variables
// ===================================

$header-border-color: colors.black(.1);
$header-height-small: 60px;
$header-height-large: 80px;

$alert-max-height: 66px;

$nav-border-bottom: 3px;
