// ========================================
// Variables! Mostly spacing ones
// See also: breakpoints.scss in this dir
// ========================================

$home-hero-default-bottom-margin: 25px;
$home-hero-medium-bottom-margin: 40px;
$home-hero-large-bottom-margin: 60px;

$wrapper-medium-horizontal-padding: 30px;
