{% load wagtailimages_tags wagtailcore_tags %}

{% with staff_member.staff_member as person %}

    {% image person.main_image fill-150x150 class="search-result__image" %}

    <div class="search-result__content">
        <a class="anchor" id="{{ person.slug }}"></a>
        <h2 class="search-result__title">{{ person.name }}</h2>

        <p class="search-result__text">{{ person.position }} | {{ person.email }}{% if person.phone %} | {{ person.phone }}{% endif %}</p><br>

        <div class="search-result__text">{{ person.bio|richtext }}</div>
    </div>

{% endwith %}
