{% load wagtailimages_tags wagtailcore_tags %}

{% with staff_member.staff_member as person %}

    {# staff_member_schema_org.html needs an img object to pull a URL from #}
    {% image person.main_image fill-150x150 as img %}
    <img {{ img.attrs }} class="search-result__image" />

    <div class="search-result__content">
        <a class="anchor" id="{{ person.slug }}"></a>
        <h2 class="search-result__title">{{ person.name }}</h2>

        <p class="search-result__text">{{ person.position }} | {{ person.email }}{% if person.phone %} | {{ person.phone }}{% endif %}</p>

        <div class="search-result__text">{{ person.bio|richtext }}</div>
        {% include 'staff/staff_member_schema_org.html' %}
    </div>

{% endwith %}
