{% load wagtailcore_tags %}
<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "Person",
    "name": "{{ person.name }}",
    "image": [ "{{ request.site.root_url }}{{ img.url }}" ],
    "email": "{{ person.email }}",
    "telephone": "{{ person.phone }}",
    "jobTitle": "{{ person.position }}",
    "description": "{{ person.bio|striptags }}",
    "worksFor": {
        "@type": "Library",
        "@id": "{{ request.site.root_url }}",
        "name": "California College of the Arts Libraries"
    }
}
</script>
