{% load wagtailcore_tags %}
{% load static from static %}
{% wagtail_site as current_site %}
<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "Person",
    "name": "{{ person.name|escapejs }}",
    "image": [ "{{ current_site.root_url }}{{ img.url }}" ],
    "email": "{{ person.email|escapejs }}",
    "telephone": "{{ person.phone }}",
    "jobTitle": "{{ person.position|escapejs }}",
    "description": "{{ person.bio|striptags|escapejs }}",
    "worksFor": {
		"@type": "Library",
        "@id": "{{ current_site.root_url }}",
		"name": "California College of the Arts Libraries",
        "address": [
            {
                "@type": "PostalAddress",
                "addressLocality": "San Francisco",
                "addressRegion": "CA",
                "streetAddress": "145 Hooper Street",
                "postalCode": "94107",
                "telephone": "415-703-9574"
            }
        ],
        "image": {
			"@type": "ImageObject",
			"height": 140,
			"url": "{% static 'images/logo.png' %}",
			"width": 1000
		}
	}
}
</script>
