@use '../../settings/breakpoints';
@use '../../settings/colors';
@use '../../settings/component-specific';
@use '../../utilities/clearfix';
@use '../../utilities/respond';

// ===================================
// Main website header. Contains the
// logo, search and navigation.
// ===================================

.header {
    background: colors.$white;
    border-bottom: 1px solid component-specific.$header-border-color;
    height: component-specific.$header-height-small;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    @include clearfix.clearfix;

    @include respond.respond(breakpoints.$break-medium) {
        height: component-specific.$header-height-large;
    }
}

// Make the header 1px smaller on the home
// to remove white border under buttons (hack).
.page--home .header {
    height: component-specific.$header-height-small - 1px;

    @include respond.respond(breakpoints.$break-medium) {
        height: component-specific.$header-height-large - 1px;
    }
}

.header__home-link {
    display: block;
    height: auto;
    left: 10px;
    max-width: 240px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .3s ease;
    width: 50%;
}

.header__home-link:hover {
    opacity: .5;
}

.header__logo {
    height: auto;
    width: 100%;
}

.header__nav-link {
    border-bottom: component-specific.$nav-border-bottom solid transparent;
    border-left: 1px solid component-specific.$header-border-color;
    display: block;
    float: right;
    height: component-specific.$header-height-small;
    position: relative;
    transition: background .3s ease;
    width: component-specific.$header-height-small;

    @include respond.respond(breakpoints.$break-medium) {
        // borders for search icon which is still visible
        border: 1px solid transparent;
        display: none;
    }
}

.header__nav-link:not(.header__nav-link--is-active):hover {
    border-bottom: component-specific.$nav-border-bottom solid colors.$black;
}

.header__nav-link--is-active {
    border-bottom-color: colors.$white;

    @include respond.respond(breakpoints.$break-medium) {
        background: colors.$white;
        border-left-color: colors.black(.1);
        border-right-color: colors.black(.1);
        border-top-color: colors.black(.1);
        z-index: 999;
    }
}

// Search modifier
.header__nav-link--search {
    @include respond.respond(breakpoints.$break-medium) {
        background: colors.$white;
        display: block;
        height: component-specific.$header-height-large - 20px;
        position: absolute;
        right: 0;
        top: 19px; // show border bottom
        width: 50px;

        &.header__nav-link--is-active {
            height: component-specific.$header-height-large - 28px;
        }
    }
}

.page--search .header__nav-link--search.header__nav-link--is-active {
    @include respond.respond(breakpoints.$break-medium) {
        border: 0;
        border-bottom: component-specific.$nav-border-bottom solid colors.$black;
        bottom: 1px; // border adjustment
        top: auto;

        .header__icon {
            top: -1px;
        }
    }
}

// Hide the search icon on the home page
.page--home .header__nav-link--search {
    display: none;
}

.header__icon {
    height: 40px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;

    @include respond.respond(breakpoints.$break-medium) {
        height: 30px;
        top: 6px;
        transform: translateX(-50%);
        width: 30px;
    }
}
