@use "../../settings/breakpoints";
@use "../../settings/component-specific";
@use "../../utilities/respond";

// ========================================
// Header search box. This component
// wraps the search-box component to
// apply specific styles for the header
// version.
// ========================================

.header-search-box {
    display: none;
    position: absolute;
    top: component-specific.$header-height-small;
    width: 100%;

    @include respond.respond(breakpoints.$break-medium) {
        right: 0;
        top: component-specific.$header-height-large - 10px;
        width: 500px;
    }

    // Header specific overrides
    .search-box__title {
        display: none;

        @include respond.respond(breakpoints.$break-medium) {
            display: block;
        }
    }
}

.header-search-box--is-active {
    display: block;
}

// Hide the header search-box on the search
// page (> medium viewport) becuase there
// is a standalone search-box
.page--search .header-search-box {
    @include respond.respond(breakpoints.$break-medium) {
        display: none;
    }
}
