@use "../../settings/breakpoints";
@use "../../settings/colors";
@use "../../settings/component-specific";
@use "../../utilities/respond";

// ========================================
// Main website navigation in the header.
// On mobile it is a dropdown menu.
// ========================================
$mainnav-border-bottom: 3px;

.main-navigation {
    background: colors.$white;
    display: none;
    position: absolute;
    top: component-specific.$header-height-small;
    width: 100%;

    @include respond.respond(breakpoints.$break-medium) {
        display: flex;
        float: right;
        margin-right: 20px;
        position: relative;
        top: -1px; // border offset
        width: auto;
    }
}

.main-navigation--is-active {
    display: block;
    // needed to pull main nav above alert icon
    z-index: 100;
}

// On the home page the search icon is
// hidden so we can remove the right margin
.page--home .main-navigation {
    @include respond.respond(breakpoints.$break-medium) {
        margin-right: 0;
    }
}

.main-navigation__item {
    border-bottom: 1px solid colors.black(.1);
    border-left: 3px solid transparent;
    display: block;
    transition: border .3s ease;

    @include respond.respond(0, breakpoints.$break-medium) {
        &:last-of-type {
            border-bottom: 0;
        }
    }

    @include respond.respond(breakpoints.$break-medium) {
        border-bottom: $mainnav-border-bottom solid transparent;
        border-left: 0;
        display: inline-block;
        padding: 0 13px;
    }
}

.main-navigation__item:hover {
    &:first-of-type {
        border-left-color: colors.$blue;
    }

    &:nth-of-type(2) {
        border-left-color: colors.$purple;
    }

    &:nth-of-type(3) {
        border-left-color: colors.$green;
    }

    @include respond.respond(breakpoints.$break-medium) {
        &:first-of-type {
            border-bottom-color: colors.$blue;
        }

        &:nth-of-type(2) {
            border-bottom-color: colors.$purple;
        }

        &:nth-of-type(3) {
            border-bottom-color: colors.$green;
        }
    }
}

.page--services .main-navigation__item:first-of-type {
    border-left-color: colors.$blue;

    @include respond.respond(breakpoints.$break-medium) {
        border-bottom-color: colors.$blue;
    }
}

.page--collections .main-navigation__item:nth-of-type(2) {
    border-left-color: colors.$purple;

    @include respond.respond(breakpoints.$break-medium) {
        border-bottom-color: colors.$purple;
    }
}

.page--about-us .main-navigation__item:nth-of-type(3) {
    border-left-color: colors.$green;

    @include respond.respond(breakpoints.$break-medium) {
        border-bottom-color: colors.$green;
    }
}

.main-navigation__link {
    color: colors.$black;
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 20px 20px 16px; // border offset
    text-decoration: none;

    @include respond.respond(breakpoints.$break-medium) {
        font-size: 16px;
        height: component-specific.$header-height-large - $mainnav-border-bottom;
        line-height: component-specific.$header-height-large + 10;
        padding: 0;
    }
}
