// copied from Summon styles
// sass-lint:disable no-color-literals
.alert {
    border: 1px solid transparent;
    border-radius: 2px;
    margin-bottom: 19px;
    padding: 15px;

    h4 {
        color: inherit;
        margin-top: 0;
    }

    .alert-link {
        font-weight: bold;
    }
}

.alert > p,
.alert > ul {
    margin-bottom: 0;
}

.alert > p + p {
    margin-top: 5px;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;

    .alert-link {
        color: #66512c;
    }

    hr {
        border-top-color: #f7e1b5;
    }
}
// sass-lint:enable no-color-literals
