// custom side panels
.customSections {
    // smaller screens: image gets full width
    .panelImage {
        display: block;
        margin-bottom: 9.5px;
        text-align: center;
    }

    @media (min-width: 1200px) {
        // larger screen, set image to the side
        .panelImage {
            display: inline;
            float: left;
            padding:  0 1em .5em 0;
        }
    }
}
