@import 'colors';
@import 'alert';
@import 'facets';
@import 'custom_panels';

// sass-lint:disable no-important

// main logo size/spacing on large screens
div[size='large'] .logo {
    margin-top: 10em;
}

// "did you mean" styles, larger font & more focal
// ID selector for specificity
// sass-lint:disable no-ids,placeholder-in-extend
#ng-app .didYouMean {
    @extend .alert;
    @extend .alert-warning;
    font-size: 16px;
    font-weight: bold;
}
// sass-lint:enable no-ids,placeholder-in-extend

// links in formatted citation lists make copy-pasting difficult
// to test: bookmark multiple articles, go to list, choose a
// citation style, links appear on right

li[ng-repeat='citation in citations'] a {
    display: none !important;
}

// email input in "broken links" dialog
input[name='email']:invalid {
    border-color: $error;
    box-shadow: inset 0 1px 1px adjust-color($black, $alpha: -.9), 0 0 8px lighten($error, 20%);
}

// fix language button bug (white font on gray bg) 2022-03
.languageMenu {
    .languageText,
    .navLanguageSwitcher {
        color: $black;
    }
}
