@import 'colors.scss';
@import 'alert.scss';
@import 'custom_panels.scss';

// main logo size/spacing on large screens
div[size="large"] .logo {
    margin-top: 10em;
}

// "did you mean" styles, larger font & more focal
// ID selector for specificity
#ng-app .didYouMean {
    @extend .alert;
    @extend .alert-warning;
    font-size: 16px;
    font-weight: bold;
}

// make left-side facets more obvious, #3
// these styles copied from the base <a> style
// this selector for the "narrow your search" filters
.quickFilters span.ng-binding,
// the drawer of extra filters that apepars when "more..." is selected
// "a >" needed to avoid the .count span of numbers
.moreFacetsContainer a > span.ng-binding,
// for all facets below
.facetName {
    color: #06c;
    text-decoration: none;

    &:hover {
        color: #004080;
        text-decoration: underline;
    }
}
//hello
// hide the right-side links in formatted citation lists
// they make copy-pasting into documents difficult
li[ng-repeat="citation in citations"] a {
    display: none !important;
}

// "clear filters" container
.clearRefinementsContainer {
    padding-top: 1.2em;
    padding-bottom: 1em;

    // "clear filters" button
    .customPrimaryLink .closeBtn {
        background: $cca-teal !important;
        color: white !important;
        box-sizing: border-box;
        border: solid 2px $cca-teal;
    }

    // "clear filters" button hover
    .customPrimaryLink:hover .closeBtn,
    .customPrimaryLink:active .closeBtn {
        background: white !important;
        color: $cca-teal !important;
        border: solid 2px $cca-teal;
    }

    // "clear filters" text larger font size
    .ng-binding {
        color: $cca-teal;
        font-size: 15px;
        font-weight: bold;
    }
}

// "clear filters" no underline on hover
a.clearRefinements.customPrimaryLink {
    text-decoration: none;
}

// toggle arrows for facet section headers
.facetField.collapsible h3 a::after {
    border-bottom: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000;
    content: "";
    display: inline-block;
    height: 0;
    margin-left: 6px;
    vertical-align: middle;
    width: 0;
}

.facetField.collapsible h3 a[aria-pressed="false"]::after {
    border-bottom: 4px solid #000;
    border-top: 0;
    vertical-align: super;
}

// even the top/bottom space around "clear filter" btn
.clearRefinementsContainer {
    padding-top: 1.5em;
    padding-bottom: 0em;
}

// "apply" filter button
a.btn.btn-primary.applyBtn {
    &.ng-binding {
        background-color: #69a74c;
        border: solid #69a74c 1px;
        color: white;
    }

    // "apply" filter button color reversed on hover
    &:hover {
        background-color: #518837 !important;
        border: solid #518837 1px !important;
        color: white !important;
    }

    // "apply" filter button box shadow when active
    &:active {
        box-shadow: inset 0 5px 15px rgba(0,0,0,0.150);
    }

    // "apply" button when close....
    &.ng-scope {
        background-color: #69a74c;
        border: solid #69a74c 1px;
        color: white;
    }
}


// email input in "broken links" dialog
input[name="email"]:invalid {
    border-color: $error;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px lighten($error, 20%);
}

// increase padding
.topicSummary .inner .content,
.customSections .inner .content,
.bxRecommender .inner .content {
    padding: 1.3em;
}

// increase font size
h3,
.h3 {
    font-size: 120%;
}

// put "report broken link" on same line as Full Text Online
.fullText .ng-scope {
    float: left;

    .availabilityLink {
        padding-right: .5em;
    }
}
