@mixin blue-background {
  background-color: $ccaBlue;
  color: white;

  h4 {
    color: $white;
  }

  a {
    border-bottom: solid 3px $ccaTeal;
    color: $white;
    margin: 0.5em 0;
    padding: 0;
    text-decoration: none;

    &:hover {
      background-color: $ccaTeal;
      border-bottom: none;
      color: $white;
      margin: 0 -0.25em;
      padding: 0.5em 0.25em;
    }
  }
}

.bg-blue {
    @include blue-background;
}
