@mixin blue-background {
    background-color: $ccaBlue;
    color: $white;

    h4 {
        color: $white;
    }

    a {
        border-bottom: solid 3px $ccaTeal;
        color: $white;
        margin: .5em 0;
        padding: 0;
        text-decoration: none;

        &:hover {
            background-color: $ccaTeal;
            border-bottom: 0;
            color: $white;
            margin: 0 -.25em;
            padding: .5em .25em;
        }
    }
}

.bg-blue {
    @include blue-background;
}
