@use "../settings/colors";

@mixin blue-background {
    background-color: colors.$ccaBlue;
    color: colors.$white;

    h4 {
        color: colors.$white;
    }

    a {
        border-bottom: solid 3px colors.$ccaTeal;
        color: colors.$white;
        margin: .5em 0;
        padding: 0;
        text-decoration: none;

        &:hover {
            background-color: colors.$ccaTeal;
            border-bottom: 0;
            color: colors.$white;
            margin: 0 -.25em;
            padding: .5em .25em;
        }
    }
}

.bg-blue {
    @include blue-background;
}
