@use '../bootstrap/variables';
@use '../settings/colors';

.button {
    border: 2px solid colors.$black;
    border-radius: 100px;
    display: inline-block;
    font-family: variables.$font-family-sans-serif;
    font-weight: bold;
    margin-left: -10px;
    padding: 7px 17px;
    position: relative;
    text-align: center;
    text-decoration: none;

    &:hover {
        border-color: colors.$btn-hover-light-gray;
    }
}
