// ===================================
// Works gallery
// laid out with masonry
// ===================================
img {
    @include img-responsive;
}

.gallery {
    border-top: 1px solid $black;
    margin-bottom: 2em;
}

.gallery--works {
    // stop images from being wider than phone screen
    max-width: 100%;
}

.gallery--title {
    font-family: $font-family-sans-serif;
    font-size: 150%;
    font-weight: 700;
    margin: 40px 0 30px;

    @include respond($break-medium) {
        font-size: 200%;
    }
}

.gallery--work {
    margin-bottom: 4px;

    @include respond($break-medium) {
        display: inline-block;
        position: relative;
    }
}

.gallery--work__responsibility {
    background: white;
    line-height: 1.45;
    padding: 1em 0 3em;

    @include respond($break-medium) {
      bottom: 4em;
      display: none;
      float: left;
      min-height: 4em;
      padding: 1em .5em 0;
      position: relative;
      transition: height 2s linear;
      width: 33%;
    }
}

.gallery--work:hover {
    .gallery--work__responsibility {
        @include respond($break-medium) {
          display: inline-block;
        }
    }
}

.gallery--work__title {
    font-size: 16px;
    font-weight: 700;
}
