@use '../../bootstrap/mixins/clearfix';
@use '../../settings/breakpoints';
@use '../../settings/colors';
@use '../../settings/component-specific';
@use '../../utilities/respond';
@use 'settings';

// ===================================
// Exhibits header
// black background, white font, teal links
// ===================================

.header {
    background: colors.$black;
    height: component-specific.$header-height-small;
    margin: 0 auto;
    max-width: breakpoints.$site-max-width;
    width: 100%;

    @include clearfix.clearfix;
}

.header__home-link {
    flex: 2;
    max-width: 240px;

    @include respond.respond(breakpoints.$break-medium) {
        display: block;
        height: auto;
        max-width: 240px;
        position: absolute;
        transform: translateY(33%);
        transition: opacity .3s ease;
        width: 50%;
    }
}

.header__home-link:hover {
    opacity: .5;
}

.header__logo {
    height: auto;
    width: 100%;
}

.header__nav-link {
    border-bottom: component-specific.$nav-border-bottom solid transparent;
    border-left: 1px solid settings.$grey-border;
    display: block;
    float: right;
    height: component-specific.$header-height-small - component-specific.$nav-border-bottom;
    position: relative;
    transition: background .3s ease;
    width: component-specific.$header-height-small;

    @include respond.respond(breakpoints.$break-medium) {
        // borders for search icon which is still visible
        border: 1px solid transparent;
        border-right: 0;
        display: none;
        margin-right: 20px;
    }
}

.header__nav-link:hover {
    border-bottom: component-specific.$nav-border-bottom solid colors.$white;
}

// Search modifier
.header__nav-link--search {
    @include respond.respond(breakpoints.$break-medium) {
        display: block;
        height: component-specific.$header-height-large - 20px;
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
    }

    &.header__nav-link--is-active {
        display: none;
    }
}

.header__icon {
    height: 30px;
    left: 50%;
    position: absolute;
    top: 16px;
    transform: translateX(-50%);
    width: 30px;

    @include respond.respond(breakpoints.$break-medium) {
        top: 16px;
    }
}
