// ===================================
// Overrides of main site _page.scss
// which is also included
// ===================================
.page {
    background: $white;
    // default to serif (Merriweather/The Serif) font
    font-family: $font-family-serif;
    // non-standard, autoprefixer can't handle this property because the values
    // differ with each implementation (W3C, Firefox, Chrome)
    // scss-lint:disable PropertySpelling
    font-smooth: always;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    // scss-lint:enable PropertySpelling
    line-height: 1.5;
    min-width: 360px;
    text-rendering: optimizeLegibility;
    // scss-lint:disable DuplicateProperty
    text-rendering: geometricPrecision;
    // scss-lint:enable DuplicateProperty

    // override font based on the value of main_body_font
    .font--monospace {
        font-family: $font-family-monospace;
    }

    .font--sans-serif {
        font-family: $font-family-sans-serif;
    }

    .font--stencil {
        font-family: $font-family-stencil;
    }
}

.page--with-alert main {
    margin-top: $alert-max-height;
}

.page--overlay::after {
    animation: fade-in .3s ease;
    background: black(.6);
    bottom: 0;
    content: '';
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $exhib-page-overlay-z;
}

.epilogue {
    border-top: 1px solid black(.3);
    padding: 2em 0 3em;
}
