// ===================================
// Overrides of main site _page.scss
// which is also included
// ===================================
.page {
    background: $white;
    font-family: $font-family-serif;
    // non-standard, autoprefixer can't handle this property because the values
    // differ with each implementation (W3C, Firefox, Chrome)
    // scss-lint:disable PropertySpelling
    font-smooth: always;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    // scss-lint:enable PropertySpelling
    min-width: 360px;
    text-rendering: optimizeLegibility;
    // scss-lint:disable DuplicateProperty
    text-rendering: geometricPrecision;
    // scss-lint:enable DuplicateProperty
}

.epilogue {
    border-top: 1px solid black(.3);
    padding: 2em 0 3em;
}
