@use "../../settings/component-specific";
@use "settings";

.header-search-box {
    top: component-specific.$header-height-small;
    z-index: settings.$exhib-search-box-z;
}

// center pagination
.search-pagination {
    display: block;
    text-align: center;
}

.search-pagination__numbers-wrapper,
.search-pagination__numbers {
    display: inline;
}
