@use 'sass:color';
@use '../../settings/breakpoints';
@use '../../settings/colors';
@use '../../settings/vars';

$grey-border: color.adjust(colors.$black, $lightness: 75%);
breakpoints.$site-max-width: 1360px;
$wrapper-default-horizontal-padding: 15px;
vars.$wrapper-medium-horizontal-padding: 50px;

// we need elements to layer in this order: search box on top of everything, page
// overlay grays out everything else, banner title sits on top of its bg image
$exhib-banner-img-z: 1;
$exhib-banner-title-z: 2;
$exhib-page-overlay-z: 99;
$exhib-search-box-z: 100;
