// ========================================
// Exhibits site max-width wrapper
// ========================================
.wrapper {
    @include clearfix;
    margin: 0 auto;
    max-width: $site-max-width;
    padding: 0 $wrapper-default-horizontal-padding;
    position: relative;

    @include respond($break-medium) {
        padding: 0 $wrapper-medium-horizontal-padding;
    }
}

.wrapper--header {
    align-items: center;
    display: flex;

    @include respond($break-medium) {
        display: block;
    }
}

.wrapper--search {
    margin-top: 230px; // search box offset

    @include respond($break-medium) {
        margin-top: 0;
        max-width: $site-max-width-search;
    }
}

.wrapper--min-height {
    min-height: 100vh;
}
