@use "../../bootstrap/mixins/clearfix";
@use "../../settings/breakpoints";
@use "../../settings/vars";
@use "../../utilities/respond";
@use "settings";

// ========================================
// Exhibits site max-width wrapper
// ========================================
.wrapper {
    margin: 0 auto;
    max-width: breakpoints.$site-max-width;
    padding: 0 settings.$wrapper-default-horizontal-padding;
    position: relative;

    @include clearfix.clearfix;

    @include respond.respond(breakpoints.$break-medium) {
        padding: 0 vars.$wrapper-medium-horizontal-padding;
    }
}

.wrapper--header {
    align-items: center;
    display: flex;

    @include respond.respond(breakpoints.$break-medium) {
        display: block;
    }
}

.wrapper--search {
    margin-top: 230px; // search box offset

    @include respond.respond(breakpoints.$break-medium) {
        margin-top: 0;
        max-width: breakpoints.$site-max-width-search;
    }
}

.wrapper--min-height {
    min-height: 100vh;
}
