*.pyc
.DS_Store
*.swp
/venv/
/static/
/uploads/
/tmp/
/.vagrant/
/Vagrantfile.local
/node_modules
/yarn-error.log
/npm-debug.log
/.idea/
/.git/
/logs/
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

**/static_deploy/
**/webpack_bundles/
/.venv/
