bin/
include/
lib/
.Python
package-lock.json
pip-selfcheck.json
*.pyc
libraries/db.sqlite3
libraries/libraries/static/css
libraries/media
*.min.css
*.min.css.map
*.min.js
*.min.js.map
libraries/libraries/settings/local_settings.py
