bin/
include/
lib/
.Python
pip-selfcheck.json
*.pyc
libraries/media
local.py
logs/
*.log
node_modules/
# ignore collectstatic location in root of project
static/
# track actual static files but not (proprietary) fonts
!libraries/libraries/static
libraries/libraries/static/css
libraries/libraries/static/fonts
# putting these below !libraries/libraries/static helps Atom out
*.min.css
*.min.css.map
*.min.js
*.min.js.map
