[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django_managepy_anywhere = "==2.0"
autopep8 = "*"

[packages]
# @TODO updates:
# Wagtail 2.15 & 2.16
# elasticsearch
django = "==3.2.15"
django-cas-ng = "==4.3.0"
django-extensions = "==3.2.1"
djangorestframework-simplejwt = "==5.2.2"
elasticsearch = "==5.4.0"
l18n = "==2021.3"
psycopg2 = "==2.9.5"
wagtail = "==2.16.3"
xmltodict = "==0.13.0"
uwsgi = "==2.0.21"
dj-database-url = "==1.2.0"
whitenoise = {version = "==6.3.0", extras = ["brotli"]}
pysftp = "==0.2.9"
django-storages = {version = "==1.13.2", extras = ["google"]}

[requires]
python_version = "3.7.13"
