@use "../../settings/breakpoints";
@use "../../settings/component-specific";
@use "../../utilities/respond";

// hidden anchor that offsets the fixed header
.anchor {
    display: block;
    position: relative;
    top: -1 * component-specific.$header-height-small;
    visibility: hidden;

    @include respond.respond(breakpoints.$break-medium) {
        top: -1 * component-specific.$header-height-large;
    }
}
