// ========================================
// Inline page links (<a class="link">)
// ========================================

.link {
  border-bottom: 2px solid transparent;
  color: $lightblue;
  display: inline-block;
  text-decoration: none;
  transition: border 0.3s ease;
}

.link:hover {
  border-bottom-color: $lightblue;
}
