// ========================================
// Inline page links
// ========================================

.rich-text,
.service-row-item__text-wrapper {
    // scss-lint:disable QualifyingElement
    a[href] {
        border-bottom: 2px solid transparent;
        color: $ccaBlue;
        text-decoration: none;
        transition: border .3s ease;
    }

    a[href]:hover {
        border-bottom-color: $ccaBlue;
    }
    // scss-lint:enable QualifyingElement
}
