// ========================================
// Inline page links
// ========================================

.rich-text {
    a[href] {
      border-bottom: 2px solid transparent;
      color: $lightblue;
      display: inline-block;
      text-decoration: none;
      transition: border 0.3s ease;
    }

    a[href]:hover {
      border-bottom-color: $lightblue;
    }
}
