// ========================================
// Page is a class attached to the <body>
// element.
// ========================================

.page {
    background: $white;
    font-family: $font-family-sans-serif;
    // non-standard, autoprefixer can't handle this property because the values
    // differ with each implementation (W3C, Firefox, Chrome)
    // scss-lint:disable PropertySpelling
    font-smooth: always;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    // scss-lint:enable PropertySpelling
    min-width: 360px;
    padding-top: $header-height-small;
    text-rendering: optimizeLegibility;
    // scss-lint:disable DuplicateProperty
    text-rendering: geometricPrecision;
    // scss-lint:enable DuplicateProperty

    // push page body down if alert banner is present, not necessary on home page
    &--with-alert:not(.page--home) {
        padding-top: $header-height-small + $alert-max-height;
    }

    @include respond($break-medium) {
        padding-top: $header-height-large;

        &--with-alert:not(.page--home) {
            padding-top: $header-height-large + $alert-max-height;
        }
    }
}

.page--overlay::after {
    animation: fade-in .3s ease;
    background: black(.6);
    bottom: 0;
    content: '';
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
}
