@use "../../bootstrap/variables";
@use "../../settings/breakpoints";
@use "../../utilities/respond";

// ========================================
// Appearance of Wagtail "rich text" fields
// ========================================

.rich-text {
    h3 {
        font: bold 14px variables.$font-family-sans-serif;
        margin: 15px 0;

        @include respond.respond(breakpoints.$break-medium) {
            font-size: 18px;
        }
    }

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }

    ul,
    ol {
        margin: 0 0 24px;
        padding-left: 2em;

        // sub-lists should be empty circles
        ul {
            list-style-type: circle;
            margin: 0;
        }
    }

    p {
        margin: 0 0 15px;
    }
}
