// ========================================
// Appearance of Wagtail "rich text" fields
// ========================================

.rich-text {
    ul, ol {
        list-style: inherit;
        margin: 0 0 24px;
        padding-left: 2em;

        // sub-lists should be empty circles
        ul {
            list-style-type: circle;
        }
    }

    h3 {
        font: bold 14px $font-family-sans-serif;
        margin: 15px 0;

        @include respond($break-medium) {
          font-size: 18px;
        }
    }
}
