@use '../../settings/breakpoints';
@use '../../settings/vars';
@use '../../utilities/clearfix';
@use '../../utilities/respond';

// ========================================
// Site max-width wrapper
// ========================================

.wrapper {
    margin: 0 auto;
    max-width: breakpoints.$site-max-width;
    padding: 0 15px;
    position: relative;

    @include clearfix.clearfix;

    @include respond.respond(breakpoints.$break-medium) {
        padding: 0 vars.$wrapper-medium-horizontal-padding;
    }
}

.wrapper--header {
    padding: 0;

    @include respond.respond(breakpoints.$break-medium) {
        padding: 0 vars.$wrapper-medium-horizontal-padding;
    }
}

.wrapper--padding-top {
    padding-top: 30px;
}

.wrapper--collections {
    padding: 0;

    @include respond.respond(breakpoints.$break-medium) {
        padding: 0 vars.$wrapper-medium-horizontal-padding;
        position: relative;
    }
}

.wrapper--search {
    margin-top: 230px; // search box offset

    @include respond.respond(breakpoints.$break-medium) {
        margin-top: 0;
        max-width: breakpoints.$site-max-width-search;
    }
}

.wrapper--blog {
    padding: 0;

    @include respond.respond(breakpoints.$break-large) {
        padding: 0 15px;
    }
}

.wrapper--min-height {
    min-height: 100vh;
}
