@use '../../settings/breakpoints';
@use '../../settings/colors';
@use '../../utilities/respond';

// ===================================
// Main website footer.
// ===================================

.footer {
    background: colors.$grey;
    padding: 15px 0;
    position: relative;
    z-index: 100;
}

.footer__sections {
    display: flex;
    flex-wrap: wrap;

    @include respond.respond(breakpoints.$break-medium) {
        flex-wrap: nowrap;
    }
}

.footer__land-acknowledgement {
    // space so Libraryh3lp widget doesn't overlap
    margin-bottom: 39px;
    text-align: center;
}
