// ===================================
// Main website footer.
// ===================================

.footer {
  background: $grey;
  padding: 15px 0;
  z-index: 100;
  position: relative;
}

  .footer__sections {
    display: flex;
    flex-wrap: wrap;

    @include respond($break-medium) {
      flex-wrap: nowrap;
    }
  }
