// Custom CCA fonts. We have oblique & combination (bold italic, bold oblique)
// font files for these too but for performance's sake we'll avoid using them.

// Brown font face
@font-face {
    font-display: fallback;
    font-family: 'Brown';
    src: url('/static/fonts/lineto-brown-regular.woff2') format('woff2'), url('/static/fonts/lineto-brown-regular.woff') format('woff');
}
@font-face {
    font-display: fallback;
    font-family: 'Brown';
    font-weight: bold;
    src: url('/static/fonts/lineto-brown-bold.woff2') format('woff2'), url('/static/fonts/lineto-brown-bold.woff') format('woff');
}
@font-face {
    font-display: fallback;
    font-family: 'Brown';
    font-style: italic;
    src: url('/static/fonts/lineto-brown-italic.woff2') format('woff2'), url('/static/fonts/lineto-brown-italic.woff') format('woff');
}

// @TODO obtain files for Le Corbusier, our brand "stencil" font
