# nginx
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wagtail
  labels:
    app: libraries
spec:
  # Start 1 copy of the application.
  replicas: 1

  # Select the pods which are part of this deployment.
  selector:
    matchLabels:
      app: libraries

  # The pod template this deployment will create.
  template:
    metadata:
      labels:
        app: libraries
    spec:
      volumes:
        - name: scripts
          configMap:
            name: scripts
            defaultMode: 0744
        - name: summon-sftp-secrets
          secret:
            secretName: summon-sftp-secrets

      containers:
        - name: app
          image: libraries-wagtail
          imagePullPolicy: IfNotPresent
          stdin: true
          tty: true
          command: [ "/scripts/init.sh" ]

          ports:
            - containerPort: 8000

          volumeMounts:
            - name: scripts
              mountPath: /scripts
            - name: summon-sftp-secrets
              readOnly: true
              mountPath: /root/.ssh

          resources:
              limits:
                cpu: "1"
                memory: 1024Mi
              requests:
                cpu: "1"
                memory: 1024Mi

          envFrom:
            - configMapRef:
                name: app
            - secretRef:
                name: app-secrets

          env:
            - name: GS_CREDENTIALS
              valueFrom:
                secretKeyRef:
                  key: local-gsb-sa.json
                  name: gsb-service-account
