namespace: libraries-wagtail

resources:
- namespace.yml
- deployment.yml
- service.yml
- configMap.yml
# - volumes.yml
- ./elasticsearch
- ./postgres

secretGenerator:
- envs:
  - secrets.env
  name: app-secrets
- files:
  - local-gsb-sa.json
  name: gsb-service-account
# these files facilitate the summon_deletes mgmt cmd and are copied to /root/.ssh
# by a volume on the pod definition (see deployment.yml for how it's done locally)
# they must be below k8s/local for security reasons
- files:
  - assets/cdi_cca.key
  - assets/known_hosts
  name: summon-sftp-secrets

configMapGenerator:
- files:
  - ./scripts/init.sh
  name: scripts
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
