{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static from static %}
{% wagtail_site as current_site %}

{% block content %}
<div class="wrapper wrapper--padding-top" style="max-width: 840px">
    <h1 class="about-us-title">
        {{ page.title }}
    </h1>

    {% if page.specific.intro and not for_date %}
        <div class="about-us-text-wrapper">
            <div class="about-us-text">{{ page.specific.intro|richtext }}</div>
        </div>
    {% endif %}

    {% if for_date %}
        <div class="about-us-text-wrapper">
            <div class="about-us-text">
                <b>Showing hours for the time period including {{for_date|date:"l F d, Y"}}.</b>
            </div>
        </div>
    {% endif %}

    <div class="about-us-content">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Hours</th>
                    <th>Simpson</th>
                    <th>Materials</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Monday</td>
                    <td>{{ hours.Simpson.mon|default:"closed" }}</td>
                    <td>{{ hours.Materials.mon|default:"closed" }}</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>{{ hours.Simpson.tue|default:"closed" }}</td>
                    <td>{{ hours.Materials.tue|default:"closed" }}</td>
                <tr>
                    <td>Wednesday</td>
                    <td>{{ hours.Simpson.wed|default:"closed" }}</td>
                    <td>{{ hours.Materials.wed|default:"closed" }}</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>{{ hours.Simpson.thu|default:"closed" }}</td>
                    <td>{{ hours.Materials.thu|default:"closed" }}</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>{{ hours.Simpson.fri|default:"closed" }}</td>
                    <td>{{ hours.Materials.fri|default:"closed" }}</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>{{ hours.Simpson.sat|default:"closed" }}</td>
                    <td>{{ hours.Materials.sat|default:"closed" }}</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>{{ hours.Simpson.sun|default:"closed" }}</td>
                    <td>{{ hours.Materials.sun|default:"closed" }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
{% endblock %}

{% block schema_org %}
<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "WebPage",
    "@id": "{{ current_site.root_url }}{% pageurl page %}",
	"name": "{{ page.title|escapejs }} | CCA Libraries",
	{% if page.main_image %}
    {% image page.main_image original as main_image %}
	"primaryImageOfPage": {
		"@type": "ImageObject",
		"height": {{ main_image.height }},
		"url": "{{ current_site.root_url }}{{ main_image.url }}",
		"width": {{ main_image.width }}
	},
	{% endif %}
	"datePublished": "{{ page.first_published_at|date:"c" }}",
	"dateModified": "{{ page.last_published_at|date:"c" }}",
    "description": "{{ page.search_description|escapejs }}",
    {# @TODO would like to add openingHours https://schema.org/openingHours #}
	"license": "https://creativecommons.org/licenses/by/4.0/",
	"publisher": {
		"@type": "Library",
        "@id": "{{ current_site.root_url }}",
		"name": "California College of the Arts Libraries",
        "image": {
			"@type": "ImageObject",
			"height": 140,
			"url": "{% static 'images/logo.png' %}",
			"width": 1000
		}
	}
}
</script>
{% endblock %}
