.alert-banner {
    background-color: #E00;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin-bottom: 4px;

    font-family: $font--primary;
    font-weight: 400;

    &__icon {
        height: 24px;
        width: 24px;
        background-color: #fff;
        margin-right: 8px;
        float: left;

        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-position: center;
        mask-size: contain;
        -webkit-mask-size: contain;

        -webkit-mask-image: url("/static/images/exclamation-circle.svg");
        mask-image: url("/static/images/exclamation-circle.svg");
    }

    &__header {
        text-transform: uppercase;
    }

    p {
        margin: 0;
        margin-right: 8px;
        display: inline;
    }

    a {
        color: #fff;
        text-decoration: underline;
        font-weight: 400;
    }

    b {
        font-weight: 600;
    }
}
