.alert-banner {
    align-items: center;
    background-color: $ccaRed;
    color: $white;
    display: flex;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
    margin-bottom: 4px;
    max-height: $alert-max-height;
    padding: 16px;

    @include respond($break-medium) {
        font-size: 18px;
    }

    &__icon {
        background-color: $white;
        float: left;
        height: 24px;
        margin-right: 8px;
        mask-image: url('/static/images/exclamation-circle.svg');
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: contain;
        width: 24px;
    }

    &__header {
        text-transform: uppercase;
    }

    p {
        display: inline;
        margin: 0;
    }

    a {
        color: $white;
        font-weight: 400;
        text-decoration: underline;
    }
}
