{% load wagtailimages_tags %}

<li class="blog-sidebar-item">
	<a href="#" class="blog-sidebar-item__link" title="Read {{ post.title }}">
		{# store image object so we can get its URL later #}
		{% image post.main_image fill-110x70 as img %}
		<div
			class="blog-sidebar-item__image"
			style="background-image: url('{{ img.url }}');"
		  title="{{ post.title }}"
		></div>
		<h4 class="blog-sidebar-item__title">
			<span class="blog-sidebar-item__title-text">
				{{ post.title }}
			</span>
		</h4>
	</a>
</li>
