{% load wagtailimages_tags %}

<ul class="blog-post-pagination">

	<h3 class="blog-post-pagination__title">
		Next Article
	</h3>

	{% if previous_post %}
		<li class="blog-post-pagination__item blog-post-pagination__item--prev">
			<a
				class="blog-post-pagination__link"
				href="{{ previous_post.url }}"
				title="Previous">
				{% image previous_post.main_image fill-110x70 as previous_img %}
				<div
					class="blog-post-pagination__image"
					style="background-image: url('{{ previous_img.url }}');"
					title="{{ previous_post.title }}"
				></div>

				<br>
				<span class="blog-post-pagination__type">
					Previous
				</span>

				<h5 class="blog-post-pagination__post-title">
					{{ previous_post.title }}
				</h5>
			</a>
		</li>
	{% endif %}

	{# there's only a "next article" if this post isn't the latest itself #}
	{% if next_post %}
		<li class="blog-post-pagination__item">
			<a
				class="blog-post-pagination__link blog-post-pagination__link--next"
				href="{{ next_post.url }}"
			 	title="Next">
				{% image next_post.main_image fill-110x70 as next_img %}
				<div
					class="blog-post-pagination__image"
					style="background-image: url('{{ next_img.url }}');"
					title="{{ next_post.title }}"
				></div>

				<br>
				<span class="blog-post-pagination__type">
					Next
				</span>

				<h5 class="blog-post-pagination__post-title">
					<span class="blog-post-pagination__post-title-text">
						{{ next_post.title }}
					</span>
				</h5>
			</a>
		</li>
	{% endif %}

</ul>
