{% load wagtailcore_tags wagtailimages_tags %}

<article class="blog-post">
	{% image page.main_image width-700 class="blog-post__image" %}

	<div class="blog-post__title-wrapper">
		<time class="blog-post__date">
			{{ page.date }}
		</time>
		<h1 class="blog-post__title">
			{{ page.title }}
		</h1>
	</div>

	{% include_block page.body %}

	{# handle our older imported blog posts lacking a streamfield body #}
	{% if page.imported_body %}
		<div class="blog-post__imported-body rich-text">
			{{ page.imported_body|richtext }}
		</div>
		{% block extra_js %}
			{# fix Wagtail's broken handling of raw HTML links #}
			<script>
			document.querySelectorAll('.blog-post__imported-body a').forEach(a => {
				a.href = a.href.replace(/%22$/, '')
			})
			</script>
		{% endblock %}
	{% endif %}

	{% include 'blog/blog-post-pagination.html' %}

</article>
