{% load wagtailcore_tags %}

<div class="blog-sidebar js-blog-sidebar">
	{# text added in CSS #}
	<a class="blog-articles-toggle js-blog-search-toggle" href="#"></a>

	<div class="blog-sidebar__content js-blog-sidebar-content">
		{% include 'blog/blog-search.html' %}

		<ul class="blog-sidebar__list js-blog-sidebar-list">
			{# @TODO need to put "previous_blogs" or similar in page context #}
			{% for post in other_posts %}
				{% include 'blog/blog-sidebar-item.html' %}
			{% endfor %}
		</ul>
	</div>
</div>
