{% load wagtailimages_tags %}

<section class="blog-post-pagination">

	{% if previous_post %}
		<div class="blog-post-pagination__item">
			<a
				class="blog-post-pagination__link"
				href="{{ previous_post.url }}"
				title="Previous">
				{% image previous_post.main_image fill-110x70 as previous_img %}
				<div
					class="blog-post-pagination__image"
					style="background-image: url('{{ previous_img.url }}');"
					title="{{ previous_post.title }}"
				></div>

				<div class="blog-post-pagination__text">
					<h4 class="blog-post-pagination__type previous">
						Previous Article
					</h4>

					<h5 class="blog-post-pagination__post-title">
						{{ previous_post.title }}
					</h5>
				</div>
			</a>
		</div>
	{% endif %}

	{# there's only a "next article" if this post isn't the latest itself #}
	{% if next_post %}
		<div class="blog-post-pagination__item">
			<a
				class="blog-post-pagination__link blog-post-pagination__link--next"
				href="{{ next_post.url }}"
			 	title="Next">
				{% image next_post.main_image fill-110x70 as next_img %}
				<div
					class="blog-post-pagination__image"
					style="background-image: url('{{ next_img.url }}');"
					title="{{ next_post.title }}"
				></div>

				<div class="blog-post-pagination__text">
					<h4 class="blog-post-pagination__type next">
						Next Article
					</h4>
					<h5 class="blog-post-pagination__post-title">
						<span class="blog-post-pagination__post-title-text">
							{{ next_post.title }}
						</span>
					</h5>
				</div>
			</a>
		</div>
	{% endif %}

</ul>
