<ul class="blog-post-pagination">

	<h3 class="blog-post-pagination__title">
		Next Article
	</h3>

	<li class="blog-post-pagination__item blog-post-pagination__item--prev">
		<a
			class="blog-post-pagination__link"
			href="#"
		  title="Prev"
		>
			<div
				class="blog-post-pagination__image"
				style="background-image: url('/images/blog-image1.png');"
				title="Image of blog 1"
			></div>

			<br />

			<span class="blog-post-pagination__type">
				Prev
			</span>

			<h5 class="blog-post-pagination__post-title">
				This is the name of the previous blog post
			</h5>
		</a>
	</li>

	<li class="blog-post-pagination__item">
		<a
			class="blog-post-pagination__link blog-post-pagination__link--next"
			href="#"
		  title="Next"
		>
			<div
				class="blog-post-pagination__image"
				style="background-image: url('/images/blog-image2.png');"
				title="Image of blog 2"
			></div>

			<br />

			<span class="blog-post-pagination__type">
				Next
			</span>

			<h5 class="blog-post-pagination__post-title">
				<span class="blog-post-pagination__post-title-text">
					This is the name of the next blog post
				</span>
			</h5>
		</a>
	</li>

</ul>
