{% extends "base.html" %}

{% block body_class %}about-us{% endblock %}

{% block content %}

    <div class="wrapper wrapper--padding-top">
		<h1 class="about-us-title">
			About Us
		</h1>
		<div class="about-us-content">
			<div class="about-us-image-wrapper">
				<img
					class="about-us-image"
					title="About us"
					alt="Random image"
					src="/images/collection1.png"
				/>
			</div>
			<div class="about-us-text-wrapper">
				<p class="about-us-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in condimentum lectus. Phasellus ultricies justo vel ante tincidunt tincidunt. Proin vitae dolor erat. Nam condimentum tincidunt risus nec imperdiet. Morbi imperdiet tortor non ante vehicula at hendrerit erat tempor. Mauris in tincidunt augue. Ut tristique augue ut enim fermentum aliquam laoreet augue condimentum. Quisque luctus pulvinar luctus. Donec nec magna purus. Morbi condimentum odio et mauris convallis vel tincidunt ante imperdiet. Aenean pharetra placerat ligula gravida volutpat. Vestibulum cursus rutrum accumsan. Aliquam convallis sodales elit, vitae feugiat tellus elementum quis.
				</p>
				<p class="about-us-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in condimentum lectus. Phasellus ultricies justo vel ante tincidunt tincidunt. Proin vitae dolor erat. Nam condimentum tincidunt risus nec imperdiet. Morbi imperdiet tortor non ante vehicula at hendrerit erat tempor. Mauris in tincidunt augue. Ut tristique augue ut enim fermentum aliquam laoreet augue condimentum. Quisque luctus pulvinar luctus. Donec nec magna purus. Morbi condimentum odio et mauris convallis vel tincidunt ante imperdiet. Aenean pharetra placerat ligula gravida volutpat. Vestibulum cursus rutrum accumsan. Aliquam convallis sodales elit, vitae feugiat tellus elementum quis.
				</p>
			</div>
		</div>
	</div>

{% endblock %}
