{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}page--{{ page.category.slug }}{% endblock %}

{% block content %}

    <div class="wrapper wrapper--padding-top">
        {# include breadcrumbs for deeply nested (grandchild) pages #}
        {% if page.get_ancestors|length > 2 %}
            {% include 'categories/breadcrumbs.html' %}
            <br>
        {% endif %}

		<h1 class="about-us-title">
			{{ page.title }}
		</h1>
		<div class="about-us-content">
            {% if page.specific.main_image %}
    			<div class="about-us-image-wrapper">
                    {% image page.specific.main_image width-404 class="about-us-image" %}
    			</div>
            {% endif %}

            <div class="about-us-text-wrapper">
                {% for block in page.body %}
                    <div class="about-us-text">
                        {% include_block block %}
                    </div>
                {% endfor %}
            </div>
		</div>
	</div>

{% endblock %}
