{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}about-us{% endblock %}

{% block content %}

    <div class="wrapper wrapper--padding-top">
        {# include breadcrumbs for deeply nested (grandchild) pages #}
        {% if page.get_ancestors|length > 2 %}
            {% include 'categories/breadcrumbs.html' %}
        {% endif %}

		<h1 class="about-us-title">
			{{ page.title }}
		</h1>
		<div class="about-us-content">
            {% if page.specific.main_image %}
    			<div class="about-us-image-wrapper">
                    {% image page.specific.main_image width-404 class="about-us-image" %}
    			</div>
            {% endif %}

            {% include_block page.body %}

		</div>
	</div>

{% endblock %}
