{% extends "base.html" %}

{% block body_class %}page--{{ page.slug }}{% endblock %}

{% block content %}
    <h1 class="sr-only">{{ page.title }}</h1>

    <div class="wrapper">
        <ul class="services">
            {% for row in rows %}
                {% include 'categories/row.html' %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{# pull in live hours data on "about us" page #}
{% block extra_js %}
{% if page.slug == "about-us" %}
<script type="text/javascript">
fetch('/hours/?format=json')
    .then(response => response.json())
    .then(data => {
        // build hours table
        let html = `<table class="table table-striped" style="font-size:90%"><thead>
            <tr>
                <th>Library</th>
                <th class="text-right">Today's Hours</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Simpson</td>
                <td class="text-right">${data.Simpson}</td>
            </tr>
            <tr>
                <td>Materials</td>
                <td class="text-right">${data.Materials}</td>
            </tr>
        </tbody></table>`
        // replace the first RowComponent main_image (for "Hours" page)
        document.querySelector('.service-row-item__image-wrapper--large').innerHTML = html
    })
</script>
{% endif %}
{% endblock %}
