{% load wagtailcore_tags wagtailimages_tags %}

<li class="service-row-item">
	<h2 class="service-row-item__title">
		<a href="{% pageurl item %}">{{ item.title }}</a>
	</h2>
	<p class="service-row-item__text">
		{{ item.search_description }}
	</p>

	{# display any related StaffMember snippet #}
	{% if item.specific.staff %}
		{% with item.specific.staff as staff %}
			<div class="service-row-item__image-wrapper">
				{% image staff.main_image width-120 class="service-row-item__image" %}
			</div>

			<div class="service-row-item__text-wrapper">
				<p class="service-row-item__name">
					{{ staff.name }}
				</p>
				<p class="service-row-item__name">
					<a href="mailto:{{ staff.email }}">{{ staff.email }}</a>
				</p>
				<p class="service-row-item__position">
					{{ staff.position }}
				</p>
			</div>
		{% endwith %}
	{% elif item.specific.main_image %}
		{# without a StaffMember we should still have a main image #}
		<div class="service-row-item__image-wrapper">
			{% image item.specific.main_image width-120 class="service-row-item__image" %}
		</div>
	{% endif %}
</li>
