{% load wagtailcore_tags wagtailimages_tags %}

<li class="service-row-item">
	<h2 class="service-row-item__title">
		<a href="{% pageurl item %}">{{ item.title }}</a>
	</h2>
	<p class="service-row-item__text">
		{{ item.search_description }}
	</p>

	{% if item.specific.main_image %}
		<div class="service-row-item__image-wrapper">
			{% image item.specific.main_image width-120 class="service-row-item__image" %}
		</div>
	{% endif %}

	{# @TODO associate services with staff members #}
	{% if item.specific.staff %}
		<div class="service-row-item__text-wrapper">
			<p class="service-row-item__name">
				{{ name }}
			</p>
			<p class="service-row-item__position">
				{{ position }}
			</p>
		</div>
	{% endif %}
</li>
