{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}page--{{ page.category.slug }}{% endblock %}

{# we basically reuse the blog_post template & retain its class names #}
{% block content %}
	<div class="wrapper wrapper--padding-top">
		{# include breadcrumbs for deeply nested (grandchild) pages #}
		{% if page.get_ancestors|length > 3 %}
			{% include 'categories/breadcrumbs.html' %}
		{% endif %}

		<h1 class="about-us-title">
			{{ page.title }}
		</h1>
		<div class="about-us-content">
			{% comment %}
			the wrapper makes it so the text column isn't gigantic
			so we want to keep it _even if_ there's no main_image
			{% endcomment %}
			<div class="about-us-image-wrapper">
				{% if page.specific.main_image %}
                    {% image page.specific.main_image width-404 class="about-us-image" %}
				{% endif %}
			</div>

			<article class="about-us-text-wrapper">
                <div class="about-us-text">
					{% include_block page.body with service_page=True %}
				</div>
            </article>
		</div>
	</div>
{% endblock %}
