{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block schema_org %}{% include 'categories/web_page_schema_org.html' %}{% endblock %}

{% block body_class %}page--{{ page.category.slug }}{% endblock %}

{# we basically reuse the blog_post template & retain its class names #}
{% block content %}
	<div class="wrapper wrapper--padding-top">
		{# include breadcrumbs for deeply nested (grandchild) pages #}
		{% if page.get_ancestors|length > 4 %}
			{% include 'categories/breadcrumbs.html' %}
		{% endif %}

		<h1 class="about-us-title">
			{{ page.title }}
		</h1>
		<div class="about-us-content">
			{% comment %}
			the wrapper makes it so the text column isn't gigantic
			so we want to keep it _even if_ there's no main_image
			{% endcomment %}
			<div class="about-us-image-wrapper">
				{% if page.specific.main_image %}
                    {% image page.specific.main_image width-404 class="about-us-image" %}
				{% endif %}

				{% if page.specific.display_staff_card %}
					{% include 'categories/staff_card.html' with person=page.staff %}
				{% endif %}

				{% for block in page.sidebar_cards %}
					{% include_block block %}
				{% endfor %}
				{% if page.resources %}
					{% include 'categories/sidebar-resources.html' %}
				{% endif %}
			</div>

			<article class="about-us-text-wrapper">
                <div class="about-us-text">
					{% include_block page.body with service_page=True %}

					{% comment %} on mobile we want these at the bottom {% endcomment %}
					{% for card in page.sidebar_cards %}
						{% include_block card with mobile=True %}
					{% endfor %}
					{% if page.resources %}
						{% include 'categories/sidebar-resources.html' with mobile=True %}
					{% endif %}
				</div>
            </article>
		</div>
	</div>
{% endblock %}
