{% load wagtailcore_tags wagtailimages_tags %}

<li class="collection js-collection-item" id="{{collection.title|slugify}}">
	{# store image object so we can get its URL later #}
	{% image collection.image fill-910x400 as img %}
	<div
		class="collection__image"
		style="background-image: url('{{img.url}}');"
	></div>
	<div class="collection__content">
		<h2 class="collection__title">
			<span class="collection__title-text">
				{% if collection.link %}
					<a href="{{collection.link}}">{{collection.title}}</a>
				{% else %}
					{{collection.title}}
				{% endif %}
			</span>
		</h2>
		<div class="collection__text">
			{{collection.blurb|richtext}}
		</div>
	</div>
</li>
