{% extends "base.html" %}

{% block body_class %}page--{{ page.category.slug }}{% endblock %}

{% block content %}

    <div class="wrapper wrapper--padding-top">
        <h1 class="collections-title">
            {{ page.title }}
        </h1>
    </div>

    {# @TODO insert brief search_description <p> here, too #}

    <div class="wrapper wrapper--collections">
        <ul class="collections-nav js-collections-nav">
            {% for collection in page.special_collections.all %}
                {% include 'categories/collections-nav-item.html'%}
            {% endfor %}
        </ul>

        <ul class="collections-list">
            {% for collection in page.special_collections.all %}
                {% include 'categories/special-collection.html'%}
            {% endfor %}
        </ul>
    </div>

{% endblock %}
