{% load static libraries_tags wagtailcore_tags wagtailimages_tags %}

{# generic schema.org data which we should be able to use for most pages #}
{% image page.main_image original as main_image %}
<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "WebPage",
    "@id": "{{ request.site.root_url }}{% pageurl page %}",
	"name": "{{ page.title|escapejs }} | CCA Libraries",
	{% if page.main_image %}
	"primaryImageOfPage": {
		"@type": "ImageObject",
		"height": {{ main_image.height }},
		"url": "{{ request.site.root_url }}{{ main_image.url }}",
		"width": {{ main_image.width }}
	},
	{% endif %}
	"author": {
		"@type": "Person",
		"name": "{{ page.owner.first_name|escapejs }} {{ page.owner.last_name|escapejs }}"
	},
	"datePublished": "{{ page.first_published_at|date:"c" }}",
	"dateModified": "{{ page.last_published_at|date:"c" }}",
    {% if page.body %}
    "description": "{{ page.body|stripjs|striptags|condense_whitespace|escapejs|truncatewords:200 }}",
    {% else %}
    "description": "{{ page.search_description|escapejs }}",
    {% endif %}
	"license": "https://creativecommons.org/licenses/by/4.0/",
    "publisher": {
		"@type": "Library",
        "@id": "{{ request.site.root_url }}",
		"name": "California College of the Arts Libraries",
        "address": [
            {
                "@type": "PostalAddress",
                "addressLocality": "Oakland",
                "addressRegion": "CA",
                "streetAddress": "5212 Broadway",
                "postalCode": "94618",
                "telephone": "510-594-3658"
            }, {
                "@type": "PostalAddress",
                "addressLocality": "San Francisco",
                "addressRegion": "CA",
                "streetAddress": "1111 8th St",
                "postalCode": "94107",
                "telephone": "415-703-9574"
            }
        ],
        "image": {
			"@type": "ImageObject",
			"height": 140,
			"url": "{% static 'images/logo.png' %}",
			"width": 1000
		}
	}
}
</script>
