// ========================================
// Blog post pagination
// ========================================

.blog-post-pagination {
    border-top: 1px solid black(.1);
    display: flex;
    flex-direction: column;
    padding: 20px 0 0;
    position: relative;

    @include respond($break-medium) {
        flex-direction: row;
    }
}

.blog-post-pagination__item {
    @include clearfix;
    flex: 1 0 50%;
    margin-top: 40px;
}

.blog-post-pagination__link {
    color: inherit;
    display: flex;
    text-decoration: none;
    transition: opacity .3s ease;

    @include respond($break-medium) {
        display: block;
        width: 60%;
    }
}

.blog-post-pagination__link:hover {
    opacity: .7;
}

.blog-post-pagination__link--next {
    @include respond($break-medium) {
        float: right;
        text-align: right;
    }
}

.blog-post-pagination__image {
    background-size: cover;
    // @TODO remove this when done
    border: 1px solid red;
    display: inline-block;
    flex-shrink: 0;
    height: 65px;
    width: 100px;

    @include respond($break-medium) {
        margin: 0 0 7px;
    }
}

.blog-post-pagination__text {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

    @include respond($break-medium) {
        margin: 0;
    }
}

.blog-post-pagination__type {
    align-self: flex-start;
    border-bottom: 2px solid $green;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .1em;
    margin: 0 0 7px;

    // on large screen, right-align the "next article" label
    @include respond($break-medium) {
        &.next {
            align-self: flex-end;
        }
    }
}

.blog-post-pagination__post-title {
    align-self: flex-end;
    font-family: $font-family-serif;
    font-size: 14px;
    line-height: 1.6em;
}

.blog-post-pagination__post-title-text {
    @include respond(0, $break-medium) {
        border-bottom: 1px solid $green;
        padding: 0 0 2px;
    }
}
