@use '../../bootstrap/variables';
@use '../../settings/breakpoints';
@use '../../settings/colors';
@use '../../utilities/respond';

// ========================================
// Blog post content section
// ========================================

.blog-post {
    padding: 0 15px 15px;

    @include respond.respond(breakpoints.$break-medium) {
        max-width: 640px;
        padding: 0 30px 30px;
        width: 80%;
    }

    @include respond.respond(breakpoints.$break-large) {
        left: 260px;
        position: relative;
    }
}

.blog-post__image {
    display: block;
    height: auto;
    margin: 0 0 20px;
    width: 100%;
}

.blog-post__image-description {
    font-family: variables.$font-family-serif;
    font-size: 14px;
    line-height: 1.3em;
    margin: 0 0 15px;
    opacity: .6;
    position: relative;
    top: -10px;

    @include respond.respond(breakpoints.$break-medium) {
        width: 60%;
    }
}

.blog-post__title-wrapper {
    margin: 0 0 20px;
    padding: 0 15px;
}

// vary color by section
.page--blog-page .blog-post__title-wrapper,
.page--about-us .blog-post__title-wrapper {
    border-left: 2px solid colors.$green;
}

.page--collections .blog-post__title-wrapper {
    border-left: 2px solid colors.$purple;
}

.page--services .blog-post__title-wrapper {
    border-left: 2px solid colors.$blue;
}

.blog-post__date {
    display: block;
    font-size: 11px;
    letter-spacing: .2em;
    margin: 0 0 5px;
}

.blog-post__title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .03em;
    width: 60%;

    @include respond.respond(breakpoints.$break-medium) {
        font-size: 28px;
        width: 100%;
    }
}

.blog-post__subtitle {
    font-family: variables.$font-family-sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 15px;

    @include respond.respond(breakpoints.$break-medium) {
        font-size: 20px;
    }
}

.blog-post__paragraph {
    font-family: variables.$font-family-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4em;
    margin: 0 0 15px;
}

.blog-post__quote {
    margin: 0 0 20px;
    padding: 0 15px;
}

// vary color by section
.page--blog-page .blog-post__quote,
.page--about-us .blog-post__quote {
    border-left: 2px solid colors.$green;
}

.page--collections .blog-post__quote {
    border-left: 2px solid colors.$purple;
}

.page--services .blog-post__quote {
    border-left: 2px solid colors.$blue;
}

.blog-post__row {
    @include respond.respond(breakpoints.$break-large) {
        align-items: center;
        display: flex;

        // fix bug with blog rows: _every_ descendent first-child gets the margin
        // without the child ">" selector, screws up e.g. <p>text<i>italics</i>text<p>
        > *:first-child,
        &.equal > * {
            flex: 50%;
            margin-right: 20px;
        }

        > *:nth-child(2) {
            flex: 50%;
            margin-right: 0;
        }

        &.left > *:first-child,
        &.right > *:nth-child(2) {
            flex: 60%;
        }

        &.right > *:first-child,
        &.left > *:nth-child(2) {
            flex: 40%;
        }
    }
}

.blog-post__quote-text {
    font-size: 18px;
    line-height: 1.2em;
}

.blog-post__quote-text--quotemark {
    margin: 0 0 10px;
}

.blog-post__quote-text--quotemark::before {
    content: '\201c';
}

.blog-post__quote-text--quotemark::after {
    content: '\201d';
}

.blog-post__quote-cite-name {
    display: block;
    font-family: variables.$font-family-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}

.blog-post__quote-cite-position {
    display: block;
    font-family: variables.$font-family-serif;
    font-size: 14px;
    line-height: 16px;
}

.blog-post__snippet {
    background: colors.$grey;
    margin: 0 0 20px;
    padding: 15px;

    @include respond.respond(breakpoints.$break-medium) {
        padding: 20px;
    }

    p:last-child {
        margin: 0;
    }
}

// vary color by section
.page--blog-page .blog-post__snippet,
.page--about-us .blog-post__snippet {
    border-left: 2px solid colors.$green;
}

.page--collections .blog-post__snippet {
    border-left: 2px solid colors.$purple;
}

.page--services .blog-post__snippet {
    border-left: 2px solid colors.$blue;
}

.blog-post__snippet-text {
    font-family: variables.$font-family-serif;
    font-size: 14px;
    line-height: 1.4em;

    @include respond.respond(breakpoints.$break-medium) {
        font-size: 16px;
    }
}
