// ========================================
// Blog page sidebar component
// ========================================

.blog-sidebar {
  padding: 0 0 15px;

  @include respond($break-large) {
    border-right: 1px solid black(0.1);
    padding: 0 20px 15px 0;
    position: fixed;
    transition: top 0;
    width: 260px;
  }
}

  .blog-sidebar__content {
    display: none;

    @include respond($break-large) {

      // We use important here to *make sure* the
      // sidebar is visable on large screens. This
      // saves us having to handle this in JS becuase
      // of the mobile toggle.

      // scss-lint:disable ImportantRule
      display: block !important;
      // scss-lint:enable ImportantRule
    }
  }

    .blog-sidebar__list {
      padding: 0 15px;

      @include respond($break-medium) {
        display: flex;
        flex-wrap: wrap;
      }

      @include respond($break-large) {
        max-height: calc(100vh - 200px);
        overflow: scroll;
        padding: 0;
      }
    }
