@use "../../settings/breakpoints";
@use "../../settings/colors";
@use "../../utilities/respond";

// ========================================
// Blog page sidebar component
// ========================================

.blog-sidebar {
    padding: 0 0 15px;

    @include respond.respond(breakpoints.$break-large) {
        border-right: 1px solid colors.black(.1);
        padding: 0 20px 15px 0;
        position: fixed;
        transition: top 0;
        width: 260px;
    }
}

.blog-sidebar__content {
    display: none;

    @include respond.respond(breakpoints.$break-large) {

        // We use important here to *make sure* the
        // sidebar is visable on large screens. This
        // saves us having to handle this in JS because
        // of the mobile toggle.

        // sass-lint:disable no-important
        display: block !important;
        // sass-lint:enable no-important
    }
}

.blog-sidebar__list {
    padding: 0 15px;

    @include respond.respond(breakpoints.$break-medium) {
        display: flex;
        flex-wrap: wrap;
    }

    @include respond.respond(breakpoints.$break-large) {
        max-height: calc(100vh - 200px);
        overflow: auto;
        padding: 0;
    }
}
