@use "../../bootstrap/variables";
@use "../../settings/breakpoints";
@use "../../settings/colors";
@use "../../utilities/respond";

// ========================================
// Blog page "More articles" toggle
// ========================================

.blog-articles-toggle {
    border-bottom: 1px solid colors.black(.15);
    color: inherit;
    display: block;
    font-family: variables.$font-family-serif;
    font-size: 14px;
    padding: 12px 15px;
    position: relative;
    text-decoration: none;
    transition: background .3s ease;

    @include respond.respond(breakpoints.$break-large) {
        display: none;
    }
}

.blog-articles-toggle::before {
    content: 'More articles';
}

.blog-articles-toggle::after {
    background-image: url('/static/images/chevron.png');
    background-size: 13px 8px;
    content: '';
    height: 8px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    width: 13px;
}

.blog-articles-toggle:hover {
    background: colors.black(.01);
}

.blog-articles-toggle--is-active {
    &::before {
        content: 'Hide articles';
    }

    &::after {
        transform: translateY(-50%);
    }
}
