{% extends "exhibits-base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}exhibit{% endblock %}

{% block content %}

<div class="wrapper">
    {% comment %} two templates: one large banner image or four square images {% endcomment %}
    {% if page.display_template == 'banner' %}
        {% include 'components/banner.html' %}
    {% elif page.display_template == 'foursquare' %}
        {% include 'components/foursquare.html' %}
    {% endif %}

    <p>{{ page.location|richtext }}</p>
    <p>{{ page.dates|richtext }}</p>
    <p>{{ page.creators|richtext }}</p>
    <p>{{ page.reception|richtext }}</p>

    {% include_block page.description %}

    <section class="gallery">
        <h2 class="gallery--title">Gallery</h2>

        <div class="">
            {% for work in page.exhibit_artwork.all %}
                {% include 'components/artwork.html' %}
            {% endfor %}
        </div>
    </section>

    <section>
        {{ page.epilogue|richtext }}
    </section>
</div>

{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
$('.js-masonry').masonry({
    "columnWidth": 600,
    "itemSelector": ".js-gallery--work"
})
</script>
{% endblock %}
