{% extends "exhibits-base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}exhibit{% endblock %}

{% block content %}

{% comment %} two templates: one large banner image or four square images {% endcomment %}
{% if page.display_template == 'banner' %}
    {% include 'components/banner.html' %}
{% elif page.display_template == 'foursquare' %}
    {% include 'components/foursquare.html' %}
{% endif %}

<div class="wrapper">

    <div class="wrapper--details">

        <dl class="metadata">
            {% if page.location|striptags != '' %}
                <div class="metadata--element">
                    <dt>Location</dt>
                    <dd>{{page.location|richtext}}</dd>
                </div class="metadata--element">
            {% endif %}

            {% if page.dates|striptags != '' %}
                <div class="metadata--element">
                    <dt>Date(s)</dt>
                    <dd>{{page.dates|richtext}}</dd>
                </div>
            {% endif %}

            {% if page.creators|striptags != '' %}
                <div class="metadata--element">
                    <dt>Creator(s)</dt>
                    <dd>{{page.creators|richtext}}</dd>
                </div>
            {% endif %}

            {% if page.reception|striptags != '' %}
                <div class="metadata--element">
                    <dt>Reception</dt>
                    <dd>{{page.reception|richtext}}</dd>
                </div>
            {% endif %}
        </dl>

        <div class="description">
            {% include_block page.description %}
        </div>
    </div>

    <section class="gallery">
        <h2 class="gallery--title">Gallery</h2>

        <div class="gallery--works js-masonry js-lightgallery">
            {% for work in page.exhibit_artwork.all %}
                {% include 'components/artwork.html' %}
            {% endfor %}
        </div>
    </section>

    {% if page.epilogue %}
        <section class="epilogue">
            {{ page.epilogue|richtext }}
        </section>
    {% endif %}
</div>

{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
$(()=>{
    $('.js-masonry').masonry({
        "columnWidth": 600,
        "fitWidth": true,
        "gutter": 4,
        "itemSelector": ".js-gallery--work"
    })
})
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/css/lightgallery.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/js/lightgallery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lg-zoom/1.1.0/lg-zoom.min.js"></script>
<script>
$(() => {
    let options = {
        selector: '.gallery--work__image img'
    }
    $('.js-lightgallery').lightGallery(options);
})
</script>
{% endblock %}
