{% extends "exhibits-base.html" %}
{% load static libraries_tags wagtailcore_tags wagtailimages_tags %}

{% block body_class %}exhibits-index{% endblock %}

{% block content %}

<div class="wrapper">
    <h1>{{page.title}}</h1>

    <section class="frontmatter">
        {{page.front_matter|richtext}}
    </section>

    <ul class="exhibits--list">
    {% for exhibit in exhibits %}
        <li class="exhibits--list__exhibit">
            <a href="{% pageurl exhibit %}" title="{{ exhibit.title }}">
                {% image exhibit.header_image.all.0.image fill-400x300 class="exhibits--list__image" %}
            </a>
            <a class="exhibits--list__title" href="{% pageurl exhibit %}">{{ exhibit.title }}</a>
            <p class="exhibits--list__description">{{ exhibit.specific.search_description }}</p>
        </li>
    {% endfor %}
    </ul>

    <section class="epilogue">
        {{page.epilogue|richtext}}
    </section>
</div>

{% endblock %}

{% block schema_org %}
<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "WebPage",
    "@id": "{{ request.site.root_url }}{% pageurl page %}",
	"name": "{{ page.title }} | CCA Libraries",
	"datePublished": "{{ page.first_published_at|date:"c" }}",
	"dateModified": "{{ page.last_published_at|date:"c" }}",
    {% if page.front_matter %}
    "description": "{{ page.front_matter|striptags|condense_whitespace|truncatewords:200 }}",
    {% else %}
    "description": "{{ page.search_description }}",
    {% endif %}
	"license": "https://creativecommons.org/licenses/by/4.0/",
    "publisher": {
		"@type": "Library",
        "@id": "{{ request.site.root_url }}",
		"name": "California College of the Arts Libraries",
        "address": [
            {
                "@type": "PostalAddress",
                "addressLocality": "Oakland",
                "addressRegion": "CA",
                "streetAddress": "5212 Broadway",
                "postalCode": "94618",
                "telephone": "510-594-3658"
            }, {
                "@type": "PostalAddress",
                "addressLocality": "San Francisco",
                "addressRegion": "CA",
                "streetAddress": "1111 8th St",
                "postalCode": "94107",
                "telephone": "415-703-9574"
            }
        ],
        "image": {
			"@type": "ImageObject",
			"height": 140,
			"url": "{% static 'images/logo.png' %}",
			"width": 1000
		}
	}
}
</script>
{% endblock %}
