@use '../../bootstrap/variables';
@use '../../settings/breakpoints';
@use '../../settings/colors';
@use '../../utilities/respond';

// ===================================
// Services page row and all of it's
// contents.
// ===================================

.service-row {
    display: flex;
    flex-wrap: wrap;

    &:not(:last-of-type) {
        border-bottom: 2px solid colors.$black;
        margin: 0 0 15px;

        @include respond.respond(breakpoints.$break-medium) {
            margin: 0 0 30px;
            padding: 0 0 15px;
        }
    }
}

.service-row__title {
    flex: 0 0 100%;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 15px;

    @include respond.respond(breakpoints.$break-medium) {
        font-size: 28px;
        margin: 0 0 30px;
    }
}

.service-row__summary {
    border-bottom: 1px solid colors.black(.1);
    flex: 0 0 100%;
    font-family: variables.$font-family-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4em;
    margin: 0 0 15px;
    padding: 0 0 15px;

    @include respond.respond(breakpoints.$break-medium) {
        border-bottom: 0;
        border-right: 1px solid colors.black(.1);
        flex: 0 0 26%;
        font-size: 16px;
        line-height: 1.6em;
        margin-right: 24px;
        padding-right: 24px;
    }

    @include respond.respond(breakpoints.$break-large) {
        flex: 0 0 23%;
    }
}

.service-row__items {
    display: flex;
    flex-wrap: wrap;

    @include respond.respond(breakpoints.$break-medium) {
        flex: 1 0 50%;
    }
}
