{
Error: Parse error on line 1:
{% extends "page_full
-^
Expecting 'STRING', '}'
% extends "page_full.html" %}

{% load static from staticfiles %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load portal_tags %}

{% block title %}{{ page.title }}{% endblock title %}

{# If the page is previewed, show a preview of the banner as well #}
{% block extra_header %}

{% if request.is_preview %}
    <div class="alert-banner alert-banner{% if type == "alert" %}--alert{% else %}--notification{% endif %}">
        <div class="alert-banner__alert">
            <h1 class="sr-only">CCA Alert Banner</h1>
            <div class="alert-banner__icon alert-banner__icon{% if type == "alert" %}--alert{% else %}--notification{% endif %}"></div>
            {{banner_text |safe}}
            {% if page.show_read_more %}
                <a href="{{page.url}}" class="page-banner__link">{{link_text}}</a>
            {% endif %}
        </div>
    </div>
{% endif %}

{% endblock extra_header %}



{% block main %}

    <div class="row">
        <div class="col-md-12">
            <h2 class="alert-page__title">{{ page.title }}</h2>
            <p class="blog-page__date">
                {% if page.last_published_at|date:"F j, Y, g:i A" != page.first_published_at|date:"F j, Y, g:i A" %}
                    Updated {{ page.last_published_at|date:"F j, Y, g:i A" }}
                    <span class="blog-page__date-updated">Posted {{ page.first_published_at|date:"F j, Y, g:i A"  }}</span>
                {% else %}
                    Posted {{ page.first_published_at|date:"F j, Y, g:i A" }}
                {% endif %}
            </p>
        </div>
        <div class="col-md-12 row">
            {{ block.super }}
            <div class="top2 col-xs-12 {% if page.show_resources %} col-sm-9 {% endif %}">
                {% for block in body %}
                    {% include_block block %}
                {% endfor %}
            </div>

            {% load wagtailcore_tags %}

        {% if page.show_resources %}
            <div class="col-sm-3 col-xs-12 top2">
                {% for item in page.sidebar_items.all %}
                    <div class="card card--no-border card--no-fixed-height card--sidebar">
                    {% if item.url %}
                        <a class="card__link" href="{{ item.url }}">
                    {% endif %}
                            {% image item.image fill-400x400 as img %}
                            <img class="card__thumb" src="{{ img.url }}" />
                            <span class="bg-blue card__title">
                                {{ item.description }}
                            </span>
                    {% if item.url %}
                        </a>
                    {% endif %}
                    </div>
                {% endfor %}

                {% for item in parent.sidebar_items.all %}
                    <div class="card card--no-border card--no-fixed-height card--sidebar">
                    {% if item.url %}
                        <a class="card__link" href="{{ item.url }}">
                    {% endif %}
                            {% image item.image fill-400x400 as img %}
                            <img class="card__thumb" src="{{ img.url }}" />
                            <span class="bg-blue card__title">
                                {{ item.description }}
                            </span>
                    {% if item.url %}
                        </a>
                    {% endif %}
                    </div>
                {% endfor %}
            </div>

        {% endif %}

        </div>
    </div>
{% endblock main %}
