@use "../../settings/breakpoints";
@use "../../settings/colors";
@use "../../utilities/clearfix";
@use "../../utilities/respond";

// ========================================
// Collections page navigation ul element
// ========================================

.collections-nav {
    margin: 0 15px 10px;

    @include clearfix.clearfix; // fix margins

    @include respond.respond(breakpoints.$break-medium) {
        background: colors.$white;
        margin: 0;
        max-height: calc(100vh - 200px);
        position: fixed;
        width: 200px;
        z-index: 99;
    }
}
