@use "../../bootstrap/variables";
@use "../../settings/breakpoints";
@use "../../settings/colors";
@use "../../utilities/respond";

// ========================================
// Collections page navigation item
// ========================================

.collections-nav-item {
    display: block;
    margin: 0 0 23px;

    @include respond.respond(breakpoints.$break-medium) {
        margin: 0;

        &.collections-nav-item--is-active,
        &:hover {
            // vary color by section
            .collections-nav-item__link {
                border-left-color: colors.$purple;
                padding-left: 15px;
            }

            .collections-nav-item__text {
                border-bottom: 0;
            }
        }
    }
}

// some of the more complicated vary-color-by-section due to nesting
.page--services .collections-nav-item {
    @include respond.respond(breakpoints.$break-medium) {
        &.collections-nav-item--is-active,
        &:hover {
            .collections-nav-item__link {
                border-left-color: colors.$blue;
            }
        }
    }
}

.page--about-us .collections-nav-item {
    @include respond.respond(breakpoints.$break-medium) {
        &.collections-nav-item--is-active,
        &:hover {
            .collections-nav-item__link {
                border-left-color: colors.$green;
            }
        }
    }
}

// vary color by section
.page--about-us .collections-nav-item__link {
    border-bottom: 2px solid colors.$green;
}

.page--services .collections-nav-item__link {
    border-bottom: 2px solid colors.$blue;
}

.page--collections .collections-nav-item__link {
    border-bottom: 2px solid colors.$purple;
}

.page .collections-nav-item__link {
    color: inherit;
    font-family: variables.$font-family-serif;
    font-size: 15px;
    padding: 0 0 2px;
    text-decoration: none;

    @include respond.respond(breakpoints.$break-medium) {
        border-bottom: 1px solid colors.black(.1);
        border-left: 2px solid transparent;
        display: block;
        font-size: 12px;
        line-height: 1.5em;
        padding: 15px 15px 15px 5px;
        transition: padding .3s ease,
        border-left .3s ease;
    }
}

.collections-nav-item__link:hover {
    opacity: .7;

    @include respond.respond(breakpoints.$break-medium) {
        opacity: 1;
    }
}

.page--collections .collections-nav-item__text {
    @include respond.respond(breakpoints.$break-medium) {
        border-bottom: 1px solid colors.$purple;
    }
}

.page--about-us .collections-nav-item__text {
    @include respond.respond(breakpoints.$break-medium) {
        border-bottom: 1px solid colors.$green;
    }
}

.page--services .collections-nav-item__text {
    @include respond.respond(breakpoints.$break-medium) {
        border-bottom: 1px solid colors.$blue;
    }
}
