// ========================================
// Collection page collection item
// ========================================

.collection {
    @include clearfix;

    @include respond($break-medium) {
        margin: 0 0 20px;
        position: relative;
    }

    // Cant add classes in mustache templates
    // so alternating like this
    &:nth-of-type(even) .collection__content {
        float: left;

        @include respond($break-large) {
            left: 0;
            right: auto;
        }
    }
}

.collection__image {
    background-position: center center;
    background-size: cover;
    height: 200px;
    width: 100%;

    @include respond($break-medium) {
        height: 300px;
    }

    @include respond($break-large) {
        height: 400px;
    }
}

.collection__content {
    background: $white;
    float: right;
    padding: 15px 15px 0;
    position: relative;
    top: -40px;
    width: calc(100% - 40px);

    @include respond($break-large) {
        bottom: 0;
        float: none;
        padding: 25px;
        position: absolute;
        right: 0;
        top: auto;
        width: 40%;
    }
}

.collection__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.3em;
    margin: 0 0 10px;
    padding: 0 0 3px;
    text-decoration: none;

    @include respond($break-large) {
        font-size: 28px;
    }

    // title links should appear like regular headings
    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            opacity: .7;
        }
    }
}

// vary color by section
.page--collections .collection__title-text {
    border-bottom: 2px solid $purple;
}

.page--about-us .collection__title-text {
    border-bottom: 2px solid $green;
}

.page--services .collection__title-text {
    border-bottom: 2px solid $blue;
}

.collection__text {
    font-family: $font-family-serif;
    font-size: 14px;
    line-height: 1.4em;
}
