{% load alert_tags wagtailuserbar %}
{% load static from static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        {# Wagtail 4 preview pane links open in new tab #}
        {% if request.in_preview_panel %}<base target="_blank">{% endif %}
        {% include 'components/head/head.html' %}
        {% block schema_org %}{% endblock %}
    </head>

    {% show_alert_banner as show_alert %}
    <body class="page js-page {% block body_class %}{% endblock %} {% if show_alert %}page--with-alert{% endif %}">
        {% wagtailuserbar %}

        {% include 'components/header/header.html' %}

        <main role="main">
            {% block content %}{% endblock %}
        </main>

        {% include 'components/footer/footer.html' %}

        {# Global javascript #}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/main.min.js' %}"></script>

        {% include 'components/ga.html' %}

        {% block extra_js %}{% endblock %}
    </body>
</html>
