{% load wagtailcore_tags wagtailimages_tags %}

{% comment %}
TODO: conditions for different work types (image, audio, video, embed)
{% endcomment %}

<div class="gallery--work js-gallery--work">
    <div class="gallery--work__image">
        {% image work.image original as full_image %}
        {% image work.image max-600x600 as preview %}
        <img src="{{ preview.url }}" alt="{{ preview.alt }}"
        width="{{ preview.width }}" height="{{ preview.height }}"
        data-src="{{ full_image.url }}" data-width="{{ full_image.width }}"
        data-sub-html=".gallery--work__responsibility" />
    </div>

    <div class="gallery--work__responsibility">
        {% comment %} title is required but creator is not {% endcomment %}
        <h3 class="gallery--work__title"><strong>{{ work.title }}</strong></h3>
        {% if work.creator != '' %}
            <p class="gallery--work__creator">{{ work.creator }}</p>
        {% endif %}
    </div>
</div>
