{% load wagtailcore_tags wagtailimages_tags %}

{% comment %}
TODO: conditions for different work types (image, audio, video, embed)
{% endcomment %}

{% image work.image original as full_image %}
<div class="gallery--work js-gallery--work"
    data-src="{{ full_image.url }}" data-width="{{ full_image.width }}"
    data-sub-html=".js-caption">
    <div class="gallery--work__image">
        {% image work.image max-600x600 %}
    </div>

    <div class="gallery--work__responsibility js-caption">
        {% comment %} title is required but creator is not {% endcomment %}
        <h3 class="gallery--work__title"><strong>{{ work.title }}</strong></h3>
        {% if work.creator != '' %}
            <p class="gallery--work__creator">{{ work.creator }}</p>
        {% endif %}

        {% comment %}
        description only shows in lightGallery overlay
        {% endcomment %}
        {% if work.description|striptags != '' %}
            <div class="gallery--work__description">{{ work.description|richtext }}</div>
        {% endif %}
    </div>
</div>
