{% load wagtailimages_tags %}

<div class="foursquare">
    <div class="foursquare--images">
        {% for header in page.header_image.all %}
            {% image header.image fill-400x400 class="foursquare--images__image" %}
        {% endfor %}
    </div>
    <div class="foursquare--frontmatter">
        <div class="foursquare--frontmatter__title">
            <h1>{{ page.title }}</h1>
        </div>
        {% comment %}
            for the future, if we want a frontmatter blurb or subtitle
            <div class="foursquare--frontmatter__intro"></div>
        {% endcomment %}
    </div>
</div>
