{% load static %}
<header class="header js-header">
	<div class="wrapper wrapper--header">
		<a
			aria-label="Home page link"
			class="header__home-link"
			href="/"
			title="CCA Libraries home"
		>
			<img
				alt="CCA Libraries Logo"
				class="header__logo"

				src="{% static 'images/logo-inverted.png' %}"
			/>
		</a>

        <ul class="main-navigation">
        	<li class="main-navigation__item">
        		<a
        			class="main-navigation__link"
        			href="/exhibitions"
        			title="Exhibitions"
        		>
        			Exhibitions
        		</a>
        	</li>
        </ul>

		<a
			aria-label="Search button"
			class="header__nav-link header__nav-link--search js-header-search"
			href="#search"
			title="Search"
		>
			<img
				alt="Search Icon"
				class="header__icon"
				src="{% static 'images/search-icon-inverted.png' %}"
			/>
		</a>

		<div class="header-search-box js-header-search-box">
			{% include 'components/search/search-box.html' %}
		</div>
	</div>
</header>
