{% load alerts_tags %}
{% show_alert_banner as show_alert_banner %}
{% if show_alert_banner %}
    {% alert_banner as alert %}
    <div class="alert-banner">
        <div
            class="alert-banner__alert"
            role="alert"
            aria-live="assertive"
        >
            <h1 class="sr-only">CCA Alert Banner</h1>
            <div class="alert-banner__icon"></div>
            {{alert.alert_text | safe}}
            {% if alert.show_read_more %}
                <a href="{{alert.alert_link}}" class="alert-banner__link">{{alert.alert_link_text}}</a>
            {% endif %}
        </div>
    </div>
{% endif %}
