<ul class="main-navigation js-main-navigation">
	<li class="main-navigation__item">
		<a
			class="main-navigation__link js-main-nav-link"
			href="/services"
			title="Services"
		>
			Services
		</a>
	</li>
	<li class="main-navigation__item">
		<a
			class="main-navigation__link js-main-nav-link"
			href="/collections"
			title="Collections"
		>
			Collections
		</a>
	</li>
	<li class="main-navigation__item">
		<a
			class="main-navigation__link js-main-nav-link"
			href="/about-us"
			title="About Us"
		>
			About Us
		</a>
	</li>
</ul>
