{% load wagtailimages_tags wagtailcore_tags %}

<div class="blog-post__image_wrapper">
    {% if value.url %}<a href="{{ value.url }}">{% endif %}
        {% if row and service_page %}
            {# image inside a row block on a ServicePage #}
            {% image value.image width-420 class="blog-post__image" %}
        {% elif row %}
            {# image inside a row block on a BlogPage #}
            {% image value.image width-240 class="blog-post__image" %}
        {% elif service_page %}
            {# full with ServicePage image #}
            {% image value.image width-700 class="blog-post__image" %}
        {% else %}
            {# full width BlogPage image #}
            {% image value.image width-600 class="blog-post__image" %}
        {% endif %}
    {% if value.url %}</a>{% endif %}

    {% if value.caption %}
        <section class="blog-post__image-description">
            {{ value.caption|richtext }}
        </section>
    {% endif %}
</div>
