<ul class="home-info-box">
	{% include 'home/home-info-box-times.html' %}

	<li class="home-info-box__item">
		<h2 class="home-info-box__item-title">
			<a
				class="home-info-box__item-link"
				href="#"
				title="Services"
			>
				Services
			</a>
		</h2>
		<p class="home-info-box__item-text">
			This gives you a bit more insight into what
			you’ll find in this section and how that
			might be helpful to you.
		</p>
	</li>
	<li class="home-info-box__item">
		<h2 class="home-info-box__item-title">
			<a
				class="home-info-box__item-link"
				href="#"
				title="Collections"
			>
				Collections
			</a>
		</h2>
		<p class="home-info-box__item-text">
			Aliquam iaculis ornare tristique. Phasellus
			ullamcorper tristique est, ac dictum
			quam sagittis ut.
		</p>
	</li>
	<li class="home-info-box__item">
		<h2 class="home-info-box__item-title">
			<a
				class="home-info-box__item-link"
				href="#"
				title="About Us"
			>
				About Us
			</a>
		</h2>
		<p class="home-info-box__item-text">
			Aliquam iaculis ornare tristique. Phasellus
			ullamcorper tristique est, ac dictum
			quam sagittis ut.
		</p>
	</li>
</ul>
