{% load wagtailcore_tags %}

{% if instagram %}
<div class="home-news-item home-news-item--instagram">
	<div class="home-news-item__image-wrapper home-news-item__image-wrapper--instagram">
		<a href="https://www.instagram.com/{{ instagram.username }}/">
			<img
				alt="Instagram image"
				class="home-news-item__image "
				src="{{ instagram.image_url }}"
				title="Image from Instagram"
			/>
		</a>
	</div>

	<div class="home-news-item__content home-news-item__content--instagram">
		<h3 class="home-news-item__title">
			<a
				class="home-news-item__link"
				title="Read full article"
				href="https://www.instagram.com/{{ instagram.username }}/"
			>Instagram</a>
		</h3>
		<p class="home-news-item__text">
			{{ instagram.html|safe }}
		</p>
	</div>
</div>
{% endif %}
