{% load wagtailcore_tags wagtailimages_tags %}

<li class="home-news-item">
	<div class="home-news-item__image-wrapper">
		<a href="{% pageurl post %}">
			{% if post.main_image %}
				{% image post.main_image fill-400x267 class="home-news-item__image" %}
			{% elif post.header_image.all.0 %}
				{% image post.header_image.all.0.image fill-400x267 class="home-news-item__image" %}
			{% endif %}
		</a>
	</div>

	<div class="home-news-item__content">
		{% if post.featured %}
			{# featured exhibit #}
			<div class="home-news-item__featured-flag">Featured Exhibit</div>
		{% else %}
			<time class="home-news-item__date">
				{{ post.date }}
			</time>
		{% endif %}
		<h3 class="home-news-item__title">
			<a
				class="home-news-item__link"
				title="Read full article"
				href="{% pageurl post %}"
			>
				{{ post.title }}
			</a>
		</h3>
		<div class="home-news-item__text">
			{% if post.body %}
				{# streamfield body of a BlogPage #}
				{{ post.body|truncatewords_html:50 }}
			{% elif post.description %}
				{# streamfield body of an ExhibitPage #}
				{{ post.description|truncatewords_html:50 }}
			{% elif post.search_description %}
				{# fall back to a search_description if we have one #}
				{{ post.search_description }}
			{% endif %}
		</div>
	</div>
</li>
