<div class="home-news-item home-news-item--instagram">
	<div class="home-news-item__image-wrapper home-news-item__image-wrapper--instagram">
		<img
			alt="Instagram image"
			class="home-news-item__image "
			src="/images/instagram-image.png"
			title="Image from Instagram"
		/>
	</div>

	<div class="home-news-item__content home-news-item__content--instagram">
		<h3 class="home-news-item__title">
			<a
				class="home-news-item__link"
				title="Read full article"
				href="#"
			>
				Instagram
			</a>
		</h3>
		<p class="home-news-item__text">
			<strong>cacollegeofarts</strong>
			This Saturday, the work of furniture designer and artist, CCA alum Hannah Beatrice Quinn will be featured in a Hunt Projects Open Studio. Check it out from 10 a.m. to 8 p.m. at 1460 Davidson Avenue in SF!
			<em>#ccaalumm</em>
			<em>#HuntsProjects</em>
		</p>
	</div>
</div>
