{% load wagtailcore_tags %}

<li class="home-info-box-times">
	<h2 class="home-info-box-times__title">
		Today
	</h2>
	{# NOTE: caching (possibly at Nginx layer?) throws this off in production #}
	{# so I actually overwrite these times in JS later #}
	<dl class="home-info-box-times__timetable">
		{% if hours %}
			<dt class="home-info-box-times__timetable-name js-simpson">
				Simpson (SF)
			</dt>
			<dd class="home-info-box-times__timetable-times js-simpson">
				{{ hours.Simpson|default:"closed" }}
			</dd>
			<dt class="home-info-box-times__timetable-name js-materials">
				Materials (SF)
			</dt>
			<dd class="home-info-box-times__timetable-times js-materials">
				{{ hours.Materials|default:"closed" }}
			</dd>
			<dt class="home-info-box-times__timetable-name js-meyer">
				Meyer (Oak)
			</dt>
			<dd class="home-info-box-times__timetable-times js-meyer">
				{{ hours.Meyer|default:"closed" }}
			</dd>
		{% else %}
			<i>Error retrieving hours data...</i><br>
		{% endif %}
	</dl>
	<a
		class="home-info-box-times__link"
		title="View today's schedule"
		href="{% slugurl 'hours' %}"
	>
		Complete list
	</a>
</li>
