{% load wagtailcore_tags %}
<ul class="home-info-box">
	{% include 'home/home-info-box-times.html' %}

	<li class="home-info-box__item">
		<h2 class="home-info-box__item-title">
			<a
				class="home-info-box__item-link"
				href="{% slugurl 'services' %}"
			>
				Services
			</a>
		</h2>
		<div class="home-info-box__item-text">
			{{ page.services_text|richtext }}
		</div>
		{% for block in page.services_link %}
			<div class="home-info-box__link">
				<span class="btn btn-primary">
					{% include_block block %}
				</span>
			</div>
		{% endfor %}
	</li>
	<li class="home-info-box__item">
		<h2 class="home-info-box__item-title">
			<a
				class="home-info-box__item-link"
				href="{% slugurl 'collections' %}"
			>
				Collections
			</a>
		</h2>
		<div class="home-info-box__item-text">
			{{ page.collections_text|richtext }}
		</div>
		{% for block in page.collections_link %}
			<div class="home-info-box__link">
				<span class="btn btn-primary">
					{% include_block block %}
				</span>
			</div>
		{% endfor %}
	</li>
	<li class="home-info-box__item">
		<h2 class="home-info-box__item-title">
			<a
				class="home-info-box__item-link"
				href="{% slugurl 'about-us' %}"
			>
				About Us
			</a>
		</h2>
		<div class="home-info-box__item-text">
			{{ page.about_us_text|richtext }}
		</div>
		{% for block in page.about_us_link %}
			<div class="home-info-box__link">
				<span class="btn btn-primary">
					{% include_block block %}
				</span>
			</div>
		{% endfor %}
	</li>
</ul>
