<ul class="home-info-box">
	{% include 'home/home-info-box-times.html' %}

	<li class="home-info-box__item">
		<h2 class="home-info-box__item-title">
			{# @TODO should these a[href] be a reference, not a hard-coded value? #}
			<a
				class="home-info-box__item-link"
				href="/services/"
				title="Services"
			>
				Services
			</a>
		</h2>
		<p class="home-info-box__item-text">
			{{page.services_text}}
		</p>
	</li>
	<li class="home-info-box__item">
		<h2 class="home-info-box__item-title">
			<a
				class="home-info-box__item-link"
				href="/collections/"
				title="Collections"
			>
				Collections
			</a>
		</h2>
		<p class="home-info-box__item-text">
			{{page.collections_text}}
		</p>
	</li>
	<li class="home-info-box__item">
		<h2 class="home-info-box__item-title">
			<a
				class="home-info-box__item-link"
				href="/about-us/"
				title="About Us"
			>
				About Us
			</a>
		</h2>
		<p class="home-info-box__item-text">
			{{page.about_us_text}}
		</p>
	</li>
</ul>
