{% extends "base.html" %}
{% load libraries_tags wagtailcore_tags wagtailimages_tags %}
{% load static from static %}
{% wagtail_site as current_site %}

{% block schema_org %}
{% image page.main_image original as main_image %}
<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "WebPage",
	"name": "CCA Libraries",
	"primaryImageOfPage": {
		"@type": "ImageObject",
        "@id": "{{ current_site.root_url }}{{ main_image.url }}",
		"height": {{ main_image.height }},
		"url": "{{ current_site.root_url }}{{ main_image.url }}",
		"width": {{ main_image.width }}
	},
	"datePublished": "{{ page.first_published_at|date:"c" }}",
	"dateModified": "{{ page.last_published_at|date:"c" }}",
    "description": "{{ page.search_description|escapejs }}",
	"license": "https://creativecommons.org/licenses/by/4.0/",
    "mainEntity": {
		"@type": "Library",
        "@id": "{{ current_site.root_url }}",
		"name": "California College of the Arts Libraries",
        "areaServed": [
            {
                "@type": "City",
                "name": "San Francisco"
            }
        ],
        "address": [
            {
                "@type": "PostalAddress",
                "addressLocality": "San Francisco",
                "addressRegion": "CA",
                "streetAddress": "1111 8th St",
                "postalCode": "94107",
                "telephone": "415-703-9574"
            }
        ],
        "parentOrganization": {
            "@type": "CollegeOrUniversity",
            "@id": "https://www.cca.edu/",
            "name": "California College of the Arts"
        },
        "logo": {
			"@type": "ImageObject",
            "@id": "{% static 'images/logo.png' %}",
			"height": 140,
			"url": "{% static 'images/logo.png' %}",
			"width": 1000
		},
        "image": {
            "@id": "{% static 'images/logo.png' %}"
        }
	},
	"publisher": {
		"@id": "{{ current_site.root_url }}"
	}
}
</script>
{% endblock %}

{% block body_class %}home{% endblock %}

{% block content %}
    <link rel="preconnect" href="https://cca.summon.serialssolutions.com">
    {% include "home/home-hero.html" %}

    <div class="wrapper">
        {% include "home/home-news.html" %}
    </div>
{% endblock %}
