{% load wagtailcore_tags wagtailimages_tags %}

<li class="home-news-item">
	<div class="home-news-item__image-wrapper">
		<a href="{% pageurl post %}">
			{% image post.specific.main_image fill-400x267 class="home-news-item__image" %}
		</a>
	</div>

	<div class="home-news-item__content">
		<time class="home-news-item__date">
			{{ post.date }}
		</time>
		<h3 class="home-news-item__title">
			<a
				class="home-news-item__link"
				title="Read full article"
				href="{% pageurl post %}"
			>
				{{ post.title }}
			</a>
		</h3>
		<div class="home-news-item__text">
			{% if post.search_description %}
				{# prefer a search_description if we have one #}
				{{ post.search_description }}
			{% elif post.body %}
				{# this is a streamfield #}
				{{ post.body|truncatewords_html:50 }}
			{% elif post.imported_body %}
				{# HTML imported from the old site's blog, list this last #}
				{{ post.imported_body|richtext|truncatewords_html:50 }}
			{% endif %}
		</div>
	</div>
</li>
