@use '../../settings/breakpoints';
@use '../../utilities/respond';

// ===================================
// Staff list page
// borrows most styles from search
// ===================================
.wrapper--staff {
    &.wrapper--search {
        margin-top: 0;

        @include respond.respond(breakpoints.$break-medium) {
            margin-top: 0;
            max-width: 1000px;
        }
    }

    .search-list {
        padding: 20px 0 0;

        @include respond.respond(breakpoints.$break-medium) {
            display: flex;
            flex-wrap: wrap;

            .search-result {
                // TODO shouldn't this be a flex directive not width based?
                max-width: 50%;
            }
        }
    }

    .search-result {
        display: block;

        @include respond.respond(breakpoints.$break-medium) {
            display: flex;
        }
    }

    .search-result__image {
        display: block;
        height: 150px;
        margin: 0 auto 20px;
        width: 150px;

        @include respond.respond(breakpoints.$break-medium) {
            display: flex;
            margin: 0;
        }
    }

    // slightly bump text size on mobile for readability
    .postscript,
    .search-result__text {
        font-size: 14px;
        margin-bottom: 1em;
    }

    .search-result__title {
        font-size: 20px;
    }
}
