// ===================================
// Staff list page
// borrows most styles from search
// ===================================
.wrapper--staff {

    &.wrapper--search {
        @include respond($break-medium) {
            margin-top: 0;
            max-width: 1000px;
        }

        margin-top: 0;
    }

    .search-list {
        @include respond($break-medium) {
            display: flex;
            flex-wrap: wrap;

            .search-result {
                // @TODO shouldn't this be a flex directive not width based?
                max-width: 50%;
            }
        }

        padding: 20px 0 0;
    }

    .search-result {
        @include respond($break-medium) {
            display: flex;
        }

        display: block;
    }

    .search-result__image {
        @include respond($break-medium) {
            display: flex;
            margin: 0;
        }

        display: block;
        height: 150px;
        margin: 0 auto 20px;
        width: 150px;
    }

    // slightly bump text size on mobile for readability
    .postscript,
    .search-result__text {
        font-size: 14px;
        margin-bottom: 1em;
    }

    .search-result__title {
        font-size: 20px;
    }
}
