<form
	action="/search"
	class="search-box"
>
	<h2 class="search-box__title">
		Search
	</h2>

	{% include 'components/search/search-input.html' %}

	<label
		tabindex="0"
		class="search-box__type-label"
	>
		<input
			{# default only if not a site search #}
			{% if not site_search %}
				checked="checked"
			{% endif %}
			class="search-box__type-input"
			name="searchType"
			tabindex="-1"
			type="radio"
			value="all"
		/>
		Libraries' Search
	</label>

	<label
		tabindex="0"
		class="search-box__type-label"
	>
		<input
			class="search-box__type-input"
			name="searchType"
			tabindex="-1"
			type="radio"
			value="catalog"
		/>
		Books & Media
	</label>

	<label
		tabindex="0"
		class="search-box__type-label"
	>
		<input
			{% if site_search %}
				checked="checked"
			{% endif %}
			class="search-box__type-input"
			name="searchType"
			tabindex="-1"
			type="radio"
			value="services"
		/>
		Library Services
	</label>

	{% if search_results.paginator.count > 0 %}
		<div class="search-box__number-results">
			<strong>{{search_results.paginator.count}}</strong> search results
		</div>
	{% endif %}

</form>
