<form
	action="/search"
	class="search-box"
>
	<h2 class="search-box__title">
		Search
	</h2>

	{% include 'components/search/search-input.html' %}

	<label
		tabindex="0"
		class="search-box__type-label"
	>
		<input
			{# different search defaults depending on context #}
			{% if not site_search and not exhibits %}
				checked="checked"
			{% endif %}
			class="search-box__type-input"
			name="searchType"
			tabindex="-1"
			type="radio"
			value="all"
		/>
		Books, databases, & more
	</label>

	<label
		tabindex="0"
		class="search-box__type-label"
	>
		<input
			{% if site_search or exhibits %}
				checked="checked"
			{% endif %}
			class="search-box__type-input"
			name="searchType"
			tabindex="-1"
			type="radio"
			value="services"
		/>
		Pages & people
	</label>
	<input type="hidden" name="page" value="1">

	{% if search_results.paginator.count > 0 %}
		<div class="search-box__number-results">
			<strong>{{search_results.paginator.count}}</strong> search results
		</div>
	{% endif %}

</form>
