{# social sharing meta tags & schema.org linked data #}
{% block social %}
    {% if self.seo_title %}
        <meta property="og:title" content="{{ self.seo_title }} | CCA Libraries" />
    {% else %}
        <meta property="og:title" content="{{ self.title }} | CCA Libraries" />
    {% endif %}
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    {% if self.specific.main_image %}
        <meta property="og:image" content="https://{{ request.META.HTTP_HOST  }}{{ self.specific.main_image.file.url }}" />
    {% endif %}
    <meta property="og:site_name" content="CCA Libraries" />
{% endblock %}
