// ========================================
// Custom checkbox styles
// ========================================

input[type='radio'] {
    appearance: none;
    background: $black;
    border-radius: 99px;
    box-shadow: inset 0 0 0 10px $white, 0 0 0 2px black(.3);
    height: 16px;
    outline: none;
    position: relative;
    top: 3px;
    transition-duration: .25s;
    width: 16px;

    &:hover,
    &:focus {
        box-shadow: inset 0 0 0 10px $white, 0 0 0 2px $black;
    }

    &:checked {
        background: $black;
        box-shadow: inset 0 0 0 4px $white, 0 0 0 2px $black;
    }
}
