{% extends "base.html" %}
{% load static wagtailcore_tags wagtailsearchpromotions_tags %}

{% block body_class %}search{% endblock %}
{% block title %}Search{% endblock %}

{% block content %}

    <div class="search-page-search-box">
		<div class="wrapper wrapper--search">
			{% include 'components/search/search-box.html' with site_search=True %}
		</div>
	</div>

    <div class="wrapper wrapper--search">
        {% get_search_promotions search_query as search_promotions %}

        {% if search_results or search_promotions %}
            <ul class="search-list">
                {% for promo in search_promotions %}
                    {% with result=promo.page %}
                        {% include 'search/search-result.html' %}
                    {% endwith %}
                {% endfor %}

                {% for result in search_results %}
                    {% include 'search/search-result.html' %}
                {% endfor %}
            </ul>

            {% if search_results.has_previous or search_results.has_next %}
                {% include 'search/search-pagination.html' %}
            {% endif %}
        {% elif search_query %}
            <div class="search-box__number-results">
                No results found.
            </div>
            <br>
        {% else %}
            <div class="search-box__number-results">
                Enter search terms above to see results.
            </div>
            <br>
        {% endif %}
    </div>

{% endblock %}
