<div class="search-pagination">
	<a
		class="search-pagination__nav-item"
		title="Go to the previous page"
		href="#"
	>
		Prev
	</a>
	<div class="search-pagination__numbers-wrapper">
		<ul class="search-pagination__numbers">
			<li class="search-pagination__text">
				Page
			</li>
			<li class="search-pagination__number">
				<a
					href="#"
					class="search-pagination__number-link search-pagination__number-link--is-active"
				>1</a>
			</li>
			<li class="search-pagination__number">
				<a
					href="#"
					class="search-pagination__number-link"
				>2</a>
			</li>
			<li class="search-pagination__number">
				<a
					href="#"
					class="search-pagination__number-link"
				>3</a>
			</li>
			<li class="search-pagination__number">
				<a
					href="#"
					class="search-pagination__number-link"
				>4</a>
			</li>
		</ul>
	</div>
	<a
		class="search-pagination__nav-item search-pagination__nav-item--next"
		title="Go to the next page"
		href="#next"
	>
		Next
	</a>
</div>
