{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}search{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}

    <div class="search-page-search-box">
		<div class="wrapper wrapper--search">
			{% include 'components/search/search-box.html' %}
		</div>
	</div>

    <div class="wrapper wrapper--search">
        {% if search_results %}
            <ul class="search-list">
                {% for result in search_results %}
                    {% include 'search/search-result.html' %}
                {% endfor %}
            </ul>

            {% if search_results.has_previous %}
                <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
            {% endif %}

            {% if search_results.has_next %}
                <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
            {% endif %}
        {% elif search_query %}
            <div class="search-box__number-results">
                No results found
            </div>
            <br>
        {% endif %}
    </div>

{% endblock %}
