@use "../../settings/breakpoints";
@use "../../settings/colors";
@use "../../utilities/respond";

// ===================================
// Home hero info box. Holds general
// information about the site and
// whats going on today.
// ===================================

.home-info-box {
    align-items: stretch;
    background: colors.black(.65);
    display: flex;
    flex-wrap: wrap;
    padding: 18px;

    @include respond.respond(breakpoints.$break-large) {
        flex-wrap: nowrap;
        padding: 30px;
    }
}

.home-info-box__item {
    border-bottom: 2px solid colors.white(.4);
    color: colors.$white;
    flex: 1 0 100%;
    margin: 0 0 20px;
    padding: 0 0 20px 10px;
    position: relative;

    &:last-of-type {
        border-bottom: 0;
        margin-bottom: 0;
    }

    @include respond.respond(breakpoints.$break-medium) {
        border-bottom: 0;
        flex: 1 0 50%;
        padding: 0 40px 0 30px;
    }

    @include respond.respond(breakpoints.$break-large) {
        flex: 1 0 20%;
        margin: 0;
    }
}

.home-info-box__item:nth-of-type(2)::after,
.home-info-box__item:nth-of-type(3)::after,
.home-info-box__item:nth-of-type(4)::after {
    background: colors.$blue; // services
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;

    @include respond.respond(breakpoints.$break-medium) {
        height: 100%;
    }
}

.home-info-box__item:nth-of-type(3)::after {
    background: colors.$purple; // collections
}

.home-info-box__item:nth-of-type(4)::after {
    background: colors.$green; // about us
}

.home-info-box__item-title {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .06em;
    margin: 2px 0 10px;

    @include respond.respond(breakpoints.$break-medium) {
        font-size: 24px;
        margin: 2px 0 20px;
    }
}

.home-info-box__item-link {
    border-bottom: 1px solid colors.$white;
    color: inherit;
    display: inline-block;
    line-height: 1.3em;
    opacity: .8;
    text-decoration: none;
}

.home-info-box__item-link:hover {
    opacity: 1;
}

.home-info-box__item-text {
    font-size: 13px;
    letter-spacing: .04em;
    line-height: 20px;

    // the extra selectors are for specifity
    // to override the `.rich-text a[href]` rule in components/misc/rich-text.scss
    .rich-text a[href] {
        color: colors.$info-box-link-blue;
    }

    @include respond.respond(breakpoints.$break-medium) {
        font-size: 14px;
    }
}
