// ===================================
// Links in the home hero box beneath
// each of the 3 columns. The links
// inside are stylized as Bootstrap buttons.
// ===================================
.home-info-box__link {
    text-align: center;

    a {
        color: $white;
    }

    // 2nd link if there are 2 links
    &:nth-child(4) {
        margin-top: .8em;
    }
}
