@use "../../settings/breakpoints";
@use "../../settings/vars";
@use "../../utilities/respond";

// ===================================
// Home page hero. It is a parent to
// the search-box.
// ===================================

.home-hero {
    background-image: url('/static/images/home-hero-bg.png');
    background-position: top center;
    background-size: cover;
    margin: 0 0 vars.$home-hero-default-bottom-margin;
    padding: 100px 0 30px;
    position: relative;

    @include respond.respond(breakpoints.$break-medium) {
        margin: 0 0 vars.$home-hero-medium-bottom-margin;
    }

    @include respond.respond(breakpoints.$break-large) {
        margin: 0 0 vars.$home-hero-large-bottom-margin;
    }
}

.home-hero__search-box {
    margin: 0 auto 20px;
    max-width: 560px;

    @include respond.respond(breakpoints.$break-medium) {
        margin-bottom: 70px;
    }
}
