// ===================================
// Attribution text for the home page's
// large background image, placed just
// below home-hero & dependent upon its spacing
// ===================================

// sits outside .wrapper so no margin/padding by default
.home-image-attribution {
    font: 11px $font-family-serif;
    margin-top: -1 * 15px + 4px;
    max-width: $site-max-width;
    padding: 0 15px;
    position: relative;

    @include respond($break-medium) {
        margin-top: -1 * $home-hero-medium-bottom-margin + 4px;
        padding: 0 $wrapper-medium-horizontal-padding;
    }

    @include respond($break-large) {
        margin-top: -1 * $home-hero-large-bottom-margin + 4px;
    }
}
